<div class="case-item-list section-nav column">     
    <div class="top-wrapper">
        <xsearch ng-model="$ctrl.search"></xsearch> 
        <xselect 
            label="Ordenar por:" 
            options='$ctrl.CaseItemList.filter.options'  
            ng-model="$ctrl.CaseItemList.filter.selected">
        </xselect>  
    </div>
      
    <div class="case-item-wrapper item-wrapper"> 
        <div class="refresh-btn tooltiped 
            {{($ctrl.CaseItemList.data.length == 0)?'big':'small'}}"
            ng-click="$ctrl.loadData()"
            data-tooltip="Recargar"
            data-position="bottom">
            <i class="material-icons {{($ctrl.isLoading)?'loading':''}}">
                refresh</i> 
        </div>   

        <div class="status-group" 
            ng-init="$ctrl.CaseItemList.quantity[k] = group.length"
            ng-repeat="(k, group) in $ctrl.CaseItemList.data
                | filter: $ctrl.search ">
                
            <div class="status-group-name" 
                ng-if="group.length > 0"
                ng-click="$ctrl.groupdisabled[k] = !$ctrl.groupdisabled[k]"> 
                <i class="material-icons {{!$ctrl.groupdisabled[k]?'hidden':'visible'}}">expand_less</i>
                <span class="quantity">{{group.length}}</span>
                <span class="name">{{$ctrl.CaseItemList.getStatus(k, group.length)}}</span>
            </div>

            <case-item  ng-repeat="x in group 
                | orderBy: $ctrl.CaseItemList.filter.selected.key
                | filter: $ctrl.search "                
                class="{{($ctrl.groupdisabled[k])?'hidden':'visible'}}"
                data="x" current="$ctrl.current"> 
            </case-item>  
        </div>
    </div>
</div>
