@import 'components/colors';
@import 'components/headings';
@import 'components/forms';
@import 'components/helpers';
@import 'components/logo';
@import 'components/login';
@import 'components/dashboard';
@import 'components/responsive';


* {
    margin: 0;
    padding: 0;
    font-family: "Walfork";
    font-synthesis: none;
    -moz-font-feature-settings: 'kern';
    -webkit-font-feature-settings: 'kern';
    font-feature-settings: 'kern';
    -moz-osx-font-smoothing: grayscale;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
    text-rendering: geometricPrecision !important;
    -webkit-font-smoothing: antialiased !important;
    box-sizing: border-box;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

:focus {
    outline: none !important;
}

::-webkit-scrollbar {
    width: 3px;
}
 
hr{
    margin-top: 0;
    margin-bottom: 0;
    border-top: 1px solid rgba($theme--fg, 0.2);
}
.panel-wrapper, .item-wrapper, .section-content{      
    &::-webkit-scrollbar-thumb{
        background: transparent;
        transition: all 0.3s;
    }
    &:hover::-webkit-scrollbar-thumb{ 
        @if $theme--bg == $dark-theme--bg{
            background: #444;
        }@else{
            background: #ccc;
        }
    }
}

body,
html {
    min-height: 100vh;
}

.container {
    min-height: 100vh;
    height: 100vh;
    overflow-y: auto;
    padding: 0;
    margin: 0;
    background-color: $theme--bg;
    transition: $animation-ease-out;

    .row{
        width: 100%;
    }
    .row, .columns, .column{
        min-height: 100%;
        height: 100%; 
        overflow-y: auto;
        position: relative;
    }
}


.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;  
    /* Support for IE. */
    font-feature-settings: 'liga';
    &:before{
        display:none;
    }
  }
 
  $placeholder--fg: rgba($theme--fg,0.4);
  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color:   $placeholder--fg
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color:   $placeholder--fg
  }
  :-ms-input-placeholder { /* IE 10+ */
    color:   $placeholder--fg
  }
  :-moz-placeholder { /* Firefox 18- */
    color:   $placeholder--fg
  }


.tooltiped{
    &[data-position="top"]:after{
        bottom: calc(100% + 10px);
    }
    &[data-position="bottom"]:after{ 
        top: calc(100% + 10px);
    }
    &:hover:after{
        display: block;
        opacity: 1;
        transition: 0.3s $animation-ease-out 0.8s;
        z-index: 1000;
        @media screen and (max-width: 600px) { 
            display:none;
        }
    }
    &:after{
        display:none;
        opacity: 0;
        transition: 0.15s $animation-ease-out;
        display: block;
        width: auto;
        width: 90px;
        padding: 10px 15px;
        border-radius: 3px;
        content: attr(data-tooltip);
        position: absolute;
        font-size: 12px;
        background-color: rgba($theme--fg,0.8);
        text-align: center;
        color: $theme--bg;
        z-index: -1;
        // left: -25%; 
    }
}