
/****************************************************************************
 *
 * SELECT 
 */


/*the container must be positioned relative:*/

.x-select {
    position: relative;
    width: 300px;
    height: 63px;
    margin: 10px 20px 0px 10px;
    border-bottom: solid 1px rgba($theme--fg, 0.15);
    

    &.disabled {
        border-bottom: dashed 1px rgba($theme--fg, 0.3);
        .select-selected .bold{
            color: rgba($theme--fg, 0.25)!important;
        }
        .select-selected .value.empty{
            color: rgba($theme--fg, 0.1);
        }
        .select-selected, i {
            color: rgba($theme--fg, 0.25)!important;
        }
    }
    &>i.material-icons {
        position: absolute;
        padding: 9px 5px;
        color: $main-color;
        display: block;
        font-size: 20px;
        top: 10px; 
    }
    & select {
        display: none;
        /*hide original SELECT element:*/
    }
    .select-selected { 
        height: 100%;
        span {
            display: block;; 
            white-space:nowrap;
            overflow:hidden;
            &.bold{
                text-transform: uppercase;
                letter-spacing: 1px;
                font-size: 9px;
            }
            &.value.empty{
                color: rgba($theme--fg, 0.3);
                // max-width: 160px;
            }            
        }
        .bold {
            font-weight: 600;
            margin-right: 5px;
            color: $main-color;
        } 
        /*style the arrow inside the select element:*/
        &:after {
            position: absolute;
            content: "";
            top: 15px;
            right: 15px;
            width: 0;
            height: 0;
            border: 4px solid transparent;
            border-color: $theme--fg transparent transparent transparent;
        }
        /*point the arrow upwards when the select box is open (active):*/
        &.select-arrow-active:after {
            border-color: transparent transparent $theme--fg transparent;
            top: 9px;
        }
    }
    /*style the items (options), including the selected item:*/
    // .select-items div,
    .select-selected { 
        color: rgba($theme--fg, 0.9);
        padding: 12px 45px 12px 45px;
        border: 1px solid transparent; // border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
        cursor: pointer;
        user-select: none;
    }
    /*style items (options):*/
    .select-items {
        position: absolute;   
        &>div{
            display: flex;
            padding: 12px 45px 12px 15px;
            align-items: center;
            cursor: pointer;
            user-select: none;
            i{
                padding-right: 20px;
                font-size: 20px;
                color: rgba($theme--fg, 0.3);
            }
        } 
        @if $theme--bg == $dark-theme--bg{
            background-color: lighten($theme--bg, 5);
            border: solid 1px rgba($theme--fg, 0.24);
        } @else if $theme--bg == $clear-theme--bg{
            background-color: $theme--bg;
            border: solid 1px rgba($theme--fg, 0.24);
        } 
        top: 0%;
        left: 0;
        right: 0;
        z-index: 99;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        overflow-x: auto; 
        border-radius: 3px;
        font-size: 13px;
        max-height: 300px;
        

        @media screen and (max-width: 600px) { 
            z-index: 9999!important;
            position: fixed;
            width: 100vw!important; 
            max-height: 100vh;
            height: 100vh;
            top: 0;
            left: 0;
            padding-top: 100px;
        }

        transition: 
            max-height 0.3s $animation-ease-out,
            top 0.3s $animation-ease-out,
            padding 0.3s $animation-ease-out,
            box-shadow 0.3s $animation-ease-out;

        &.select-hide{
            top: 0;
            padding-top: 0;
            max-height: 0px;
            box-shadow: none;
            border: none;
            transition: 
            max-height 0.3s $animation-ease-out,
            top 0.3s $animation-ease-out,
            padding 0.3s $animation-ease-out,
            box-shadow 0.3s $animation-ease-out; 
        }

        & div.selected {
            font-weight: 600;
            background-color: rgba($theme--fg, 0.15);
            &:hover {
                background-color: rgba($theme--fg, 0.15);
            }
        }
        & div:hover {
            background-color: rgba($theme--fg, 0.07);
        }
    } 
}

