<div class="newdata-content column section-content {{($ctrl.NewdataContent.data != undefined)?'is-opened':'is-closed'}}">
    
    <!-- Show when data is selected -->
    <div class="opened section-content-wrapper edit-panel" ng-show="$ctrl.NewdataContent.data!=undefined">          
        
         <!-- Edit button --> 
         <div class="toolbar-wrapper {{($ctrl.NewdataContent.data != undefined)?'is-opened':'is-closed'">
            <div class="back-btn" ng-click="$ctrl.NewdataContent.data = undefined">        
                <i class="material-icons">arrow_back</i> 
            </div>

            <button ng-if="!$ctrl.NewdataContent.isEditModeOn()" class="toolbar-button" ng-click="$ctrl.delete()">
                <i class="material-icons">delete</i>
                <span>Eliminar</span>
            </button>

            <button ng-if="!$ctrl.NewdataContent.isEditModeOn()" class="toolbar-button" ng-click="$ctrl.edit()">
                <i class="material-icons">edit</i>
                <span>Editar</span>
            </button>
    
            <button ng-if="$ctrl.NewdataContent.isEditModeOn()" class="toolbar-button" ng-click="$ctrl.edit()">
                <i class="material-icons">save</i>
                <span>Guardar</span>
            </button>

            <button ng-if="$ctrl.NewdataContent.isEditModeOn()" class="toolbar-button" ng-click="$ctrl.revertEdit()">
                <i class="material-icons">close</i>
                <span>Cancelar</span>
            </button> 
        </div> 

        
      

        <!-- Title --> 
        <xinput type="text" 
            class="extra-big"
            disabled="!$ctrl.NewdataContent.isEditModeOn()"
            label="Nombre" 
            ng-model="$ctrl.NewdataContent.data.name">
        </xinput>  
        <xinput type="text" 
            class="extra-big"
            ng-if="$ctrl.NewdataContent.isEditModeOn()"
            disabled="!$ctrl.NewdataContent.isEditModeOn()"
            label="Primer apellido" 
            ng-model="$ctrl.NewdataContent.data.firstLastname">
        </xinput> 
        <xinput type="text" 
            class="extra-big"
            ng-if="$ctrl.NewdataContent.isEditModeOn()"
            disabled="!$ctrl.NewdataContent.isEditModeOn()"
            label="Segundo apellido" 
            ng-model="$ctrl.NewdataContent.data.secondLastname">
        </xinput> 

        <!-- Description  -->
        <xtextarea ng-if="$ctrl.NewdataContent.data.description != undefined"
            class="pre"
            disabled="!$ctrl.NewdataContent.isEditModeOn()"
            label="Descripción" 
            ng-model="$ctrl.NewdataContent.data.description">
        </xtextarea>

        <div class="metadata">   

            <!-- Bullets -->
            <div class="item-list"> 

                <div class="item register-medium">                     
                    <i class="material-icons">fingerprint</i>
                    <div class="group-text">
                        <div class="label">Folio</div>
                        <div class="text">{{$ctrl.NewdataContent.data.id | minDigits: 4}}</div>
                    </div> 
                </div>  
                
                <!-- Access Level --> 
                <div class="item level">                    
                    <i class="material-icons">error_outline</i>
                    <xselect
                        options="$ctrl.options.clientstatus" 
                        disabled="!$ctrl.NewdataContent.isEditModeOn()"
                        label="Estatus:" 
                        item-selected="{{$ctrl.NewdataContent.data.id_status.id}}"
                        ng-model="$ctrl.NewdataContent.data.id_status"> 
                    </xselect>
                </div>

                <div class="item register-medium"  ng-if="$ctrl.NewdataContent.data.admissionDate != undefined">                     
                    <i class="material-icons">calendar_today</i>
                    <div class="group-text">
                        <div class="label">Registrad{{$ctrl.NewdataContent.data.curp[10]=='H'?'o':$ctrl.NewdataContent.data.curp[10]=='M'?'a':'x'}}</div>
                        <div class="text" am-time-ago="$ctrl.NewdataContent.data.admissionDate | amParse:'YYYY-MM-DD HH:mm:ss'"></div> 
                    </div> 
                </div>  

                <!-- Threat Type --> 
                <div class="item area" ng-if="$ctrl.NewdataContent.data.id_threatType != undefined">                    
                    <i class="material-icons">warning</i>
                        <xselect
                        options="$ctrl.options.threatType" 
                        disabled="!$ctrl.NewdataContent.isEditModeOn()"
                        label="Tipo de amenaza:" 
                        item-selected="{{$ctrl.NewdataContent.data.id_threatType.id}}"
                        ng-model="$ctrl.NewdataContent.data.id_threatType"> 
                    </xselect>
                </div>     
                
                    
                <!-- Area --> 
                <div class="item area" ng-if="$ctrl.NewdataContent.data.id_area != undefined">                    
                    <i class="material-icons">place</i>
                        <xselect
                        options="$ctrl.options.area" 
                        disabled="!$ctrl.NewdataContent.isEditModeOn()"
                        label="Área:" 
                        item-selected="{{$ctrl.NewdataContent.data.id_area.id}}"
                        ng-model="$ctrl.NewdataContent.data.id_area"> 
                    </xselect>
                </div>     
                
                 <!-- Departamento --> 
                 <div class="item department" ng-if="$ctrl.NewdataContent.data.id_department != undefined">                    
                    <i class="material-icons">domain</i>
                        <xselect
                        options="$ctrl.options.department" 
                        disabled="!$ctrl.NewdataContent.isEditModeOn()"
                        label="Departamento:" 
                        item-selected="{{$ctrl.NewdataContent.data.id_department.id}}"
                        ng-model="$ctrl.NewdataContent.data.id_department"> 
                    </xselect>
                </div>   

                 <!-- Unidad de negocios --> 
                 <div class="item business-unit" ng-if="$ctrl.NewdataContent.data.id_businessUnit != undefined">                    
                    <i class="material-icons">card_travel</i>
                    <xselect
                        options="$ctrl.options.businessUnit" 
                        disabled="!$ctrl.NewdataContent.isEditModeOn()"
                        label="Unidad de negocios:" 
                        item-selected="{{$ctrl.NewdataContent.data.id_businessUnit.id}}"
                        ng-model="$ctrl.NewdataContent.data.id_businessUnit"> 
                    </xselect>
                </div>   

                <!-- CURP -->
                <div class="item curp" ng-if="$ctrl.NewdataContent.data.curp != undefined">                    
                    <i class="material-icons">account_box</i>
                    <xinput 
                        max-length="18"
                        type="curp"
                        class="like-select"
                        disabled="true"
                        label="CURP:"  
                        uppercase = "true"
                        ng-model="$ctrl.NewdataContent.data.curp"> 
                    </xinput>
                </div>

                <!-- Email -->
                <div class="item email" ng-if="$ctrl.NewdataContent.data.email != undefined">                    
                    <i class="material-icons">email</i>
                    <xinput 
                        max-length="60"
                        type="email"
                        valid-model="$ctrl.valid.email"
                        class="like-select"
                        disabled="!$ctrl.NewdataContent.isEditModeOn()"
                        label="Email:"  
                        ng-model="$ctrl.NewdataContent.data.email"> 
                    </xinput>
                </div>

                <!-- Phone -->
                <div class="item phone" ng-if="$ctrl.NewdataContent.data.phone != undefined">                    
                    <i class="material-icons">phone</i>
                    <xinput 
                        max-length="10"
                        type="phoneNumber"
                        valid-model="$ctrl.valid.phone"
                        class="like-select"
                        disabled="!$ctrl.NewdataContent.isEditModeOn()"
                        label="Teléfono:"  
                        ng-model="$ctrl.NewdataContent.data.phone"> 
                    </xinput>
                </div>

                <!-- Mobile Phone -->
                <div class="item mobilephone" ng-if="$ctrl.NewdataContent.data.mobilephone != undefined">                    
                    <i class="material-icons">phone_iphone</i>
                    <xinput 
                        max-length="10"
                        type="phoneNumber"
                        valid-model="$ctrl.valid.mobilephone"
                        class="like-select"
                        disabled="!$ctrl.NewdataContent.isEditModeOn()"
                        label="Teléfono móvil:"  
                        ng-model="$ctrl.NewdataContent.data.mobilephone"> 
                    </xinput>
                </div> 
            </div>
            
        </div> 
    </div>
    
    <div class="closed" ng-show="$ctrl.NewdataContent.data==undefined"> 
        <h1>Selecciona un {{$ctrl.NewdataItemList.getTabs()[$ctrl.NewdataItemList.getCurrentTab()-1].name}}</h1> 
    </div>
</div>