<div class="agent-add-container add-container" ng-class="($ctrl.AgentAdd.isClosed())?'closed':'opened'"> 
    <div class="back" ng-click="$ctrl.AgentAdd.shuffle()"></div>
    <div class="button tooltiped" 
        data-tooltip="{{$ctrl.AgentAdd.isClosed()?'Registrar agente':'Cerrar'}}"
        data-position="{{$ctrl.AgentAdd.isClosed()?'top':'bottom'}}">
        <i class="close material-icons" ng-click="$ctrl.AgentAdd.shuffle()">add</i>
    </div> 

    
    <div class="panel">
        <div class="saving-animation {{$ctrl.isSaving?'visible':'hidden'}}"> 
            <div class="lds-ring"><div></div><div></div></div>
        </div>
        <button 
            ng-disabled="$ctrl.AgentAdd.areFieldsMissing() 
                || $ctrl.isSaving
                || !$ctrl.AgentAdd.allFieldsAreTrue($ctrl.valid)" 
            ng-click="$ctrl.saveAgent()">Registrar</button>     
        <div class="panel-wrapper">
            <div class="head-data">
                <xinput max-length="20" database-valid-model="$ctrl.databaseValid.usr" valid-model="$ctrl.valid.usr" type="username" label="Registrar nuevo agente" ng-model="$ctrl.AgentAdd.data.usr" placeholder="Ingresa un alias"></xinput>
             </div> 
            <form>     
                <div class="row">
                    <xselect label="Nivel de Acceso:" options='$ctrl.options.level' ng-model="$ctrl.AgentAdd.data.level"></xselect> 
                    <xinput max-length="30" placeholder="Ingresa una contraseña" label="Contraseña:" type="password" ng-model="$ctrl.AgentAdd.data.pass"></xinput> 
                    <xinput max-length="30" placeholder="Ingresa un nombre" label="Nombre(s):" ng-model="$ctrl.AgentAdd.data.name"></xinput>   
                    <xinput max-length="30" placeholder="Ingresa un apellido" label="Primer apellido:" ng-model="$ctrl.AgentAdd.data.firstLastname"></xinput>   
                    <xinput max-length="30" placeholder="Ingresa un apellido" label="Segundo apellido:" ng-model="$ctrl.AgentAdd.data.secondLastname"></xinput>   
                    <xinput max-length="60" valid-model="$ctrl.valid.email" type='email' placeholder="Ingresa un email" label="Email:" ng-model="$ctrl.AgentAdd.data.email"></xinput>   
                    <xinput max-length="10" valid-model="$ctrl.valid.phone" type='phoneNumber' placeholder="Ingresa un teléfono" label="Teléfono Fijo:" ng-model="$ctrl.AgentAdd.data.phone"></xinput>   
                    <xinput max-length="10" valid-model="$ctrl.valid.mobilePhone" type='phoneNumber' placeholder="Ingresa un teléfono" label="Teléfono Móvil:" ng-model="$ctrl.AgentAdd.data.mobilephone"></xinput>   
                    <xinput max-length="100" placeholder="Ingresa una dirección" label="Dirección:" ng-model="$ctrl.AgentAdd.data.address"></xinput>    
                   
                </div>                  
            </form> 
        </div>   
    </div>
</div>