<div class="agent-add-container add-container" ng-class="($ctrl.AgentAdd.isClosed())?'closed':'opened'"> 
    <div class="back" ng-click="$ctrl.AgentAdd.shuffle()"></div>
    <div class="button">
        <i class="close material-icons" ng-click="$ctrl.AgentAdd.shuffle()">add</i>
    </div> 
    <div class="panel">
        <div class="panel-wrapper">
            <div class="head-data">
                <xinput label="Registrar nuevo agente" ng-model="$ctrl.AgentAdd.data.usr" placeholder="Nombre de usuario"></xinput>
             </div> 
            <form>     
                <div class="col">
                    <xselect label="Nivel de Acceso:" options='$ctrl.options.level' ng-model="$ctrl.AgentAdd.data.level"></xselect> 
                    <xinput label="Contraseña:" type="password" ng-model="$ctrl.AgentAdd.data.pass"></xinput> 
                    <xinput label="Nombre(s):" ng-model="$ctrl.AgentAdd.data.name"></xinput>   
                    <xinput label="Primer apellido:" ng-model="$ctrl.AgentAdd.data.firstLastname"></xinput>   
                    <xinput label="Segundo apellido:" ng-model="$ctrl.AgentAdd.data.secondLastname"></xinput>   
                    <xinput label="Email:" ng-model="$ctrl.AgentAdd.data.email"></xinput>   
                    <xinput label="Teléfono Fijo:" ng-model="$ctrl.AgentAdd.data.phone"></xinput>   
                    <xinput label="Teléfono Móvil:" ng-model="$ctrl.AgentAdd.data.mobilephone"></xinput>   
                    <xinput label="Dirección:" ng-model="$ctrl.AgentAdd.data.address"></xinput>    
                </div>                  
            </form>
            <button ng-disabled="$ctrl.AgentAdd.areFieldsMissing()" ng-click="$ctrl.saveAgent()">Registrar</button>     
        </div>   
    </div>
</div>