<link rel="stylesheet" ng-href="{{session.theme.url}}" > 

<div class="container dashboard-container">    
     

    <!-- Navigation Panel  *********************************************** -->

    <div class="nav column"> 
        <logo size="small"></logo> 
        <div class="navpanel">
            <div ng-click="NavPanel.setCurrentSection($index)" class="item {{$last?'user-section':''}} {{(NavPanel.getCurrentSection()==$index)?'selected':''}}" ng-repeat="n in NavPanel.getSections()">
                <i class="material-icons">{{n.icon}}</i><span>{{n.name}}</span> 
            </div>  
        </div>
    </div>

    <!-- 01. Alert Section  *********************************************** -->

    <div class="body column" ng-show="NavPanel.getCurrentSection()==0"> 
        <div class="item-nav column">
            <search ng-model="session.search"></search>   
            <xselect 
                label="Ordenar por:" 
                options='Alert.getFilterOptions()' 
                item-selected="2"
                ng-model="Alert.filter.selected"></xselect> 
             

            <alert-container   
                current="currentAlert" 
                order-by="Alert.filter.selected.key" 
                filter-by="session.search"></alert-container>  
            {{Alert.data}}
                      
        </div>  
        
        <alert-display data="currentAlert"></alert-display> 
    </div>      

    <!-- 02. Requirements Section ****************************************** -->
    
    <div class="item-body column requirement-panel" ng-show="NavPanel.getCurrentSection()==1">  
        <div class="head-data">
            <xinput label="Título" ng-model="Requirement.data.reason" placeholder="Escribe un título"></xinput>
            <xtextarea label="Descripción" ng-model="Requirement.data.description" placeholder="Escribe una descripción"></xtextarea>
        </div> 
        <form>     
            <div class="col">
                <xselect label="Activo:" options='options.activo'></xselect>
                <xselect label="Responsable:" options='options.agent' ng-model="Requirement.data.responsible"></xselect>
                <xselect label="Tipo de Caso:" options='options.caseType' ng-model="Requirement.data.caseType"></xselect>
                <xselect label="Status:" options='options.status' ng-model="Requirement.data.status"></xselect>
            </div>
            <div class="col"> 
                <xselect disabled="true" label="Impacto:" options='options.threatImpact' item-selected='1' ng-model="Requirement.data.impact"></xselect>
                <xselect disabled="true" label="Prioridad:" options='options.priority' item-selected='1' ng-model="Requirement.data.priority"></xselect>
                <xselect disabled="true" label="Urgencia:" options='options.urgency' item-selected='1' ng-model="Requirement.data.urgency"></xselect> 
                <xselect label="Medio de registro:" options='options.registerMedium' ng-model="Requirement.data.registerMedium"></xselect> 
            </div>                  
        </form>   
        <button ng-click="Requirement.save()">Registrar</button>
    </div> 

     <!-- 03. Reports Section ****************************************** -->

    <div class="item-body column report-panel" ng-show="NavPanel.getCurrentSection()==2"> 
        <h1 class="bold">Reporte</h1>
        <div id="report-graph-wrapper">
            <chart></chart>
        </div>
    </div>   

     <!-- 03. Add Client section ****************************************** -->

    <div class="item-body column new-client-panel" ng-show="NavPanel.getCurrentSection()==3"> 
        <h1 class="bold">Alta de cliente</h1>
        <form>
            <xinput label="Nombre(s):" placeholder="Ingresa el nombre" ng-model="client.name"></xinput>  
            <xinput label="Primer apellido:" placeholder="Ingresa el primer apellido" ng-model="client.lastname1"></xinput>  
            <xinput label="Segundo apellido:" placeholder="Ingresa el segundo apellido" ng-model="client.lastname2"></xinput>  
             
            <div class="input-group"><label>Área:</label><input type="text" placeholder = "Ingresa el área"/></div>
            <div class="input-group"><label>Departamento:</label><input type="text" placeholder = "Ingresa el departamento"/></div>
            <div class="input-group"><label>Puesto:</label><input type="text" placeholder = "Ingresa el puesto"/></div>
            
            <button ng-click="newUser()">Registrar</button>
        </form>
    </div>


     <!-- 04. Configuration ****************************************** -->

    <div class="item-body column new-client-panel" ng-show="NavPanel.getCurrentSection()==4"> 
        <h1 class="bold">Configuración</h1>
        <form>
            <xselect label="Tema:" options='options.theme' item-selected="2" ng-model="session.theme"></xselect>
            {{data.theme.url}}
            <br><br>
            <button ng-click="logout()">Cerrar sesión</button>
        </form>
    </div>

</div>

<x-popup></x-popup>