<div class="container login-container">
    <div class="row login-wrapper">
        <div class="one-half column is-vertical-centered">             
            <logo size="big"></logo> 
        </div>
        <div class="one-half column is-vertical-centered">
            <div class="title">
                <h1>INICIA</h1>                
                <h1><div class="bold">SESIÓN</div></h1>
            </div>     
            <form> 
                <input class="big-input" ng-show="!isLogged" type="text" ng-model="loginFields.user" placeholder="Usuario"/>
                <input class="big-input" ng-show="!isLogged" type="password" ng-model="loginFields.pass" placeholder="Contraseña"/> 
                <button ng-click="continue()" class="login-btn">Continuar</button>   
            </form>	
        </div>
    </div>
</div>