.login-container {
    height: 100%;
    max-width: 900px;
    margin: 0 auto!important;
    .login-wrapper {
        height: 100vh;
        min-height: 100vh;
        max-width: 1200px;
        margin: 0 auto!important;
        &>.one-half.column {
            padding: 20px!important;
        }
    }
    
    .title h1 {
        text-align: center;
    }
    form {
        margin-top: 30px;
    }
}

// Responsive design
@media screen and (max-width: 600px) {
    img {
        width: 150px!important;
        margin-top: 30px;
    }
    .login-container .one-half.column {
        height: auto;
        .title h1 {
            display: inline-block;
            font-size: 20px;
            letter-spacing: 2px;
        }
    }
}