<div class="case-content column section-content {{($ctrl.CaseContent.data != undefined)?'is-opened':'is-closed'}}">
    
    <!-- Show when data is selected --> 
    <div class="opened section-content-wrapper edit-panel" ng-show="$ctrl.CaseContent.data != undefined">  

        <!-- To solve panel --> 
        <div class="to-solve-panel add-container" ng-class="(!$ctrl.solving)?'closed':'opened'">
            <div class="back" ng-click="$ctrl.solving = false"></div>
            <!-- Real Agent Threat --> 
            <div class="panel">   
                <div class="close-btn material-icons"  ng-click="$ctrl.solving = false">close</div>
                <button class='solvebtn'
                    ng-disabled="$ctrl.isEmpty($ctrl.CaseContent.data.solution) ||
                    $ctrl.isEmpty($ctrl.CaseContent.data.id_realAgentThreat)" 
                    ng-click="$ctrl.solveCase()">
                    Solucionar caso
                </button>
                <div class="panel-wrapper">  
                    <h1>{{$ctrl.CaseContent.data.subject}}</h1> 
                    <form autocomplete="off">     
                        <div class="row">
                            <xselect
                                options="$ctrl.options.agentThreat"  
                                label="Agente de Amenaza Real:"  
                                ng-model="$ctrl.CaseContent.data.id_realAgentThreat"> 
                            </xselect>
                            
                            <!-- Description  -->
                            <xtextarea
                                max-length = "300"
                                class="pre" 
                                placeholder="Ingresa una descripción de la solución del caso"
                                label="Solución del caso:" 
                                ng-model="$ctrl.CaseContent.data.solution">
                            </xtextarea>    
                        </div>
                    </form>
                </div>
            </div>  
        </div>

        <!-- Edit button --> 
        <div class="toolbar-wrapper" ng-if="$ctrl.sessionLevel != 4">  
            <div class="back-btn" ng-click="$ctrl.CaseContent.data = undefined">        
                <i class="material-icons">arrow_back</i> 
            </div>

            <button ng-if="($ctrl.CaseContent.data.id_status.id==2 || $ctrl.CaseContent.data.id_status.id==1)&& 2 >= $ctrl.sessionId && !$ctrl.CaseContent.isEditModeOn()" class="toolbar-button" ng-click="$ctrl.edit()">
                <i class="material-icons">edit</i>
                <span>Editar</span>
            </button> 

            <button ng-if="2 >= $ctrl.sessionId && $ctrl.CaseContent.isEditModeOn()" class="toolbar-button" ng-click="$ctrl.edit()">
                <i class="material-icons">save</i>
                <span>Guardar</span>
            </button>

            <button ng-if="2 >= $ctrl.sessionId && $ctrl.CaseContent.isEditModeOn()" class="toolbar-button" ng-click="$ctrl.revertEdit()">
                <i class="material-icons">close</i>
                <span>Cancelar</span>
            </button> 
        </div> 

        <button ng-click="$ctrl.setStatusTo(2)"
            class="{{$ctrl.CaseContent.isEditModeOn()?'visible':'hidden'}} change-status priority-{{$ctrl.CaseContent.data.id_caseType.id}}" 
            ng-if="2 >= $ctrl.sessionId && $ctrl.CaseContent.data.id_status.id==1">
            <span>Dar seguimiento al caso</span>
            <i class="material-icons">keyboard_arrow_right</i>
        </button>

        <button ng-click="$ctrl.setStatusTo(4)"
            class="{{$ctrl.CaseContent.isEditModeOn()?'visible':'hidden'}} change-status cancel-case" 
            ng-if="2 >= $ctrl.sessionId && $ctrl.CaseContent.data.id_status.id==2">
            <span>Cancelar caso</span>
            <i class="material-icons">close</i>
        </button> 

        <button ng-click="$ctrl.setStatusTo(3)"
            class="{{$ctrl.CaseContent.isEditModeOn()?'visible':'hidden'}} change-status priority-{{$ctrl.CaseContent.data.id_caseType.id}}" 
            ng-if="2 >= $ctrl.sessionId && $ctrl.CaseContent.data.id_status.id==2">
            <span>Solucionar caso</span>
            <i class="material-icons">keyboard_arrow_right</i>
        </button> 

        <!-- Pre-data -->
        <div class="pre-data priority priority-{{$ctrl.CaseContent.data.id_caseType.id}}" 
            ng-if="($ctrl.CaseContent.data.id_status.id==1 || $ctrl.CaseContent.data.id_status.id==2)">
            {{$ctrl.CaseContent.data.id_caseType.description}}
        </div> 

        <div class="pre-data" 
            ng-if="!($ctrl.CaseContent.data.id_status.id==1 || $ctrl.CaseContent.data.id_status.id==2)">
            {{$ctrl.CaseContent.data.id_status.name}}
        </div> 

        <!-- Subject --> 
        <xinput type="text" 
            class="extra-big"
            disabled="!$ctrl.CaseContent.isEditModeOn()"
            label="Título" 
            ng-model="$ctrl.CaseContent.data.subject">
        </xinput>
        
         
        <!-- Description  -->
        <xtextarea 
            class="pre"
            disabled="!$ctrl.CaseContent.isEditModeOn()"
            label="Descripción" 
            ng-model="$ctrl.CaseContent.data.description">
        </xtextarea>
 

        <div class="metadata"> 
            <!-- Bullets -->
            <div class="item-list"> 
                 
                <div class="item register-medium">                    
                    <i ng-if="$ctrl.CaseContent.data.id_status.id==1 || $ctrl.CaseContent.data.id_status.id==2" class="material-icons priority-{{$ctrl.CaseContent.data.id_caseType.id}}">fingerprint</i>
                    <i ng-if="!($ctrl.CaseContent.data.id_status.id==1 || $ctrl.CaseContent.data.id_status.id==2)" class="material-icons">fingerprint</i>
                    <div class="group-text">
                        <div class="label">Folio del caso</div>
                        <div class="text">{{$ctrl.CaseContent.data.id | minDigits: 4}}</div>
                    </div> 
                </div>  

                <div class="item register-medium" ng-if="$ctrl.CaseContent.data.id_status.id!=3">                    
                    <i ng-if="$ctrl.CaseContent.data.id_status.id==1 || $ctrl.CaseContent.data.id_status.id==2" class="material-icons priority-{{$ctrl.CaseContent.data.id_caseType.id}}">date_range</i>
                    <i ng-if="!($ctrl.CaseContent.data.id_status.id==1 || $ctrl.CaseContent.data.id_status.id==2)" class="material-icons">date_range</i>
                    <div class="group-text">
                        <div class="label">Fecha máxima de solución:</div>
                        <div class="text" am-time-ago="$ctrl.CaseContent.data.maxSolutionDate | amParse:'YYYY-MM-DD HH:mm:ss'"></div>
                    </div> 
                </div>  


                <div class="item register-medium" ng-if="$ctrl.CaseContent.data.id_status.id==3">                    
                    <i ng-if="$ctrl.CaseContent.data.id_status.id==1 || $ctrl.CaseContent.data.id_status.id==2" class="material-icons priority-{{$ctrl.CaseContent.data.id_caseType.id}}">calendar_today</i>
                    <i ng-if="!($ctrl.CaseContent.data.id_status.id==1 || $ctrl.CaseContent.data.id_status.id==2)" class="material-icons">calendar_today</i>
                    <div class="group-text">
                        <div class="label">Se solucionó</div>
                        <div class="text" am-time-ago="$ctrl.CaseContent.data.solutionDate | amParse:'YYYY-MM-DD HH:mm:ss'"></div>
                    </div> 
                </div>  
                     
                <!-- Responsable --> 
                <div class="item register-medium">                    
                    <i ng-if="$ctrl.CaseContent.data.id_status.id==1 || $ctrl.CaseContent.data.id_status.id==2" class="material-icons priority-{{$ctrl.CaseContent.data.id_caseType.id}}">perm_identity</i>
                    <i ng-if="!($ctrl.CaseContent.data.id_status.id==1 || $ctrl.CaseContent.data.id_status.id==2)" class="material-icons">perm_identity</i>
                    <xselect
                        options="$ctrl.options.agent" 
                        disabled="true"
                        type="people"
                        label="Atendido por:" 
                        item-selected="{{$ctrl.CaseContent.data.author.id}}"
                        ng-model="$ctrl.CaseContent.data.author"> 
                    </xselect>
                </div> 

                <!-- Client --> 
                <div class="item register-medium">                    
                    <i ng-if="($ctrl.CaseContent.data.id_status.id==1 || $ctrl.CaseContent.data.id_status.id==2)" class="material-icons priority-{{$ctrl.CaseContent.data.id_caseType.id}}">face</i>
                    <i ng-if="!($ctrl.CaseContent.data.id_status.id==1 || $ctrl.CaseContent.data.id_status.id==2)" class="material-icons">face</i>
                    <xselect
                        options="$ctrl.options.client" 
                        disabled="!$ctrl.CaseContent.isEditModeOn()"
                        label="Cliente:" 
                        type="people"
                        item-selected="{{$ctrl.CaseContent.data.id_client.id}}"
                        ng-model="$ctrl.CaseContent.data.id_client"> 
                    </xselect>
                </div>

                <!-- Agent Threat --> 
                <div class="item register-medium">                    
                    <i ng-if="($ctrl.CaseContent.data.id_status.id==1 || $ctrl.CaseContent.data.id_status.id==2)" class="material-icons priority-{{$ctrl.CaseContent.data.id_caseType.id}}">warning</i>
                    <i ng-if="!($ctrl.CaseContent.data.id_status.id==1 || $ctrl.CaseContent.data.id_status.id==2)" class="material-icons">warning</i>
                    <xselect
                        options="$ctrl.options.agentThreat" 
                        disabled="!$ctrl.CaseContent.isEditModeOn()"
                        label="Agente de Amenaza:" 
                        item-selected="{{$ctrl.CaseContent.data.id_agentThreat.id}}"
                        ng-model="$ctrl.CaseContent.data.id_agentThreat"> 
                    </xselect>
                </div> 
    
                <!-- Register Medium -->
                <div class="item register-medium">                    
                    <i ng-if="($ctrl.CaseContent.data.id_status.id==1 || $ctrl.CaseContent.data.id_status.id==2)" class="material-icons priority-{{$ctrl.CaseContent.data.id_caseType.id}}">content_paste</i>
                    <i ng-if="!($ctrl.CaseContent.data.id_status.id==1 || $ctrl.CaseContent.data.id_status.id==2)" class="material-icons">content_paste</i>
                    <xselect
                        options="$ctrl.options.registerMedium" 
                        disabled="!$ctrl.CaseContent.isEditModeOn()"
                        label="Medio de registro:" 
                        item-selected="{{$ctrl.CaseContent.data.id_registerMedium.id}}"
                        ng-model="$ctrl.CaseContent.data.id_registerMedium"> 
                    </xselect>
                </div>

                <!-- Asset --> 
                <div class="item register-medium">                    
                    <i ng-if="($ctrl.CaseContent.data.id_status.id==1 || $ctrl.CaseContent.data.id_status.id==2)" class="material-icons priority-{{$ctrl.CaseContent.data.id_caseType.id}}">extension</i>
                    <i ng-if="!($ctrl.CaseContent.data.id_status.id==1 || $ctrl.CaseContent.data.id_status.id==2)" class="material-icons">extension</i>
                    <xselect
                        options="$ctrl.options.assetRepository" 
                        disabled="!$ctrl.CaseContent.isEditModeOn()"
                        label="Infraestructura:" 
                        item-selected="{{$ctrl.CaseContent.data.infrastructure.id}}"
                        ng-model="$ctrl.CaseContent.data.infrastructure"> 
                    </xselect>
                </div> 

                 
            </div>
        </div> 
    </div>  

     <!-- Show when data is non-selected --> 
    <div class="closed" ng-show="$ctrl.CaseContent.data == undefined">   
        <h1>{{$ctrl.CaseContent.getCloseMessage()}}</h1>
    </div>




</div>