.agent-item-wrapper{
    .title{        
        padding: 0 5px 0 0; 
    }
    .data{  
        font-size: 13px;
    }
}
 

agent-content{
    width: 100%;   
}

.agent-add-container{    
    .button{        
        left: 570px;  
        bottom: 40px;           
    }
}