@import 'variables';
@import 'helpers';

.case-item-wrapper{
    max-height: calc(100% - 140px);
    min-height: calc(100% - 140px);
    case-item{
        .item{
            transition: 0.3s $animation-ease-out;
            overflow: hidden;
        }
        &.hidden .item{
            padding-top: 0 !important;
            padding-bottom: 0 !important;
            max-height: 0;
            opacity: 0;
        }
        &.visible .item{
            max-height: 500px;
            opacity: 1;
        }
    }
    .item{
        border-left: 4px solid;
        padding: 15px 30px!important; 
        &.selected{
            background-color: $theme--bg!important;
        }
        .left{
            flex-direction: column; 
            .title{
                color: rgba($theme--fg, 0.7);
            }
            .data{  
                font-size: 11px!important;
            }
        }
    }
    // Asign priority alerts item format
    @each $key, $val in $priorities {                
        .item.#{$key}-priority { 
            @include alert-style($val); 
        }
    }  
}

.status-group-name{
    background-color: $theme--bg;
    top: 0px;
    z-index: 10; 
    position: -webkit-sticky;
    position: sticky;
    font-weight: bold;
    padding: 10px 0px 10px 20px;  
    color: rgba($theme--fg, 0.8);
    font-size: 15px;  
    letter-spacing: 0.3px;
    // text-transform: uppercase;
    display: flex;
    align-items: center;
    cursor: pointer;  
    &:hover{
        color: $main-color; 
    }
    i{
        margin-right: 15px;
        transition: 0.3s $animation-ease-out;
        &.hidden{
            transform: rotate(-90deg);
        }
    } 
}

.case-item-list{
    .x-select{
        margin-top: 5px;
        height: 47px;
        i{
            top: 0; }
        .select-selected{ 
            span{
                display: inline-block;
                text-transform: uppercase;
                letter-spacing: 1px;
                font-size: 10px;
            }
        }
    }
}
case-content{
    width: 100%; 
    max-width: 100%;     
    overflow-x: hidden;
    .priority{  
        // color: white!important; 
        &.priority-1{ 
            // background-color: lighten($low-priority, 27)!important; 
            // border: solid 1px darken($low-priority, 15)!important; 
            color: darken($low-priority, 15)!important; 
        }
        &.priority-2{ 
            // background-color: lighten($medium-priority, 27)!important; 
            // border: solid 1px darken($medium-priority, 23)!important; 
            color: darken($medium-priority, 23)!important; 
        }
        &.priority-3{ 
            // background-color: lighten($high-priority,30)!important;             
            // border: solid 1px darken($high-priority, 15)!important; 
            color: darken($high-priority, 15)!important; 
        }
        &.priority-4{ 
            // background-color: $very-high-priority!important; 
            color: darken($very-high-priority, 15)!important;  
        }
    }

    .item-list{
        .item{ 
            .priority-1{ 
                color: darken($low-priority, 15)!important;}
            .priority-2{ 
                color: darken($medium-priority, 16)!important; }
            .priority-3{ 
                color: $high-priority!important;}
            .priority-4{ 
                color: $very-high-priority!important;}
        }
    }
}


 