@import 'variables';
@import 'helpers';

.case-item-wrapper{
    max-height: calc(100% - 153px);
    .item{
        border-left: 4px solid; 
        .left{
            flex-direction: column; 
            .data{  
                font-size: 11px!important;
            }
        }
    }
    // Asign priority alerts item format
    @each $key, $val in $priorities {                
        .item.#{$key}-priority { 
            @include alert-style($val); 
        }
    }  
}
case-content{
    width: 100%;
    .priority{ 
        border: solid 1px #333;
        text-align: center;
        padding: 5px 30px; 
        display: inline-blocK;
        max-width: 230px;
        margin-bottom: 40px;  
        border-radius: 50px;
        &.priority-1{ 
            color: darken($low-priority, 15)!important; 
            border: solid 1px $low-priority!important; }
        &.priority-2{ 
            color: darken($medium-priority, 15)!important; 
            border: solid 1px $medium-priority!important; }
        &.priority-3{ 
            color: $high-priority!important; 
            border: solid 1px $high-priority!important; }
        &.priority-4{ 
            color: $very-high-priority!important; 
            border: solid 1px $very-high-priority!important; }
    }
}


.case-add-container{    
    .button{        
        left: 570px;  
        bottom: 40px;           
    }
}