
// $main-color: #5063A5;
$main-color: #3949ab;
// $main-color: #231FC2;
// $main-color: #1762C2;

$dark-theme--bg:   #212121;
$dark-theme--fg:   #fafafa; 

// $clear-theme--bg: #fff;
// $clear-theme--bg: #DFDBDA;
$clear-theme--bg: #fff;
$clear-theme--fg: rgba(#000, 0.87);
 
$very-high-priority:rgb(252, 67, 67);
// $very-high-priority: #DA4D43;
$high-priority:     #e53935;
$medium-priority:   rgb(236, 226, 78);
// $medium-priority:   #FCCE54;
$low-priority:      rgb(80, 224, 140);
$non-priority:      rgb(167, 166, 166);


// $high-priority:     lighten(#3949ab, 10);
// $medium-priority:   lighten(#3949ab, 30);
// $low-priority:      lighten(#3949ab, 50);
