
// $main-color: #5063A5;
// $main-color: #3949ab;
// $main-color:    #6553bf;
// $main-color: #6553bf;
// $main-color: #24a655;
$main-color: #0066fd;
// $accent3-color: #ff5831;
// $main-color: #231FC2;
// $main-color: #1762C2;

/********************************************************
 * Dark theme
 */
$dark-theme--bg:   #23292f;
// $dark-theme--bg:   #212121;
$dark-theme--fg:   #fff; 

/********************************************************
 * Clear theme
 */
$clear-theme--bg: #fff;
$clear-theme--fg: rgba(#111, 0.87);

/********************************************************
 * Purple theme
 */
$purple-theme--bg: darken(#403294, 0);
$purple-theme--fg: rgba(#fff, 0.87);

/********************************************************
 * Priority colors
 */
$very-high-priority: #f1716f; 
$high-priority:     #f78583;
$medium-priority:   rgb(236, 226, 78); 
$low-priority:      rgb(80, 224, 140);
$non-priority:      rgb(167, 166, 166); 
