@import 'variables';

*{    
    font-family: "Walfork";
}

h1{   
    font-size: 60px; 
    display: block;
    color: $theme--fg;
    &.bold, & .bold{        
        font-weight: 600;
    }
} 

input, button, textarea , pre, h1{
    font-family: "Walfork";
}
 