
.is-vertical-centered {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}



@mixin alert-style($color) {
    border-left-color: $color;
    
    @if $theme--bg == $dark-theme--bg{
        background:     rgba($color, 0.12);
        &:hover{
            background: rgba($color,0.3)}
        &:before{
            background: rgba($color,0.7)}

    } @else if $theme--bg == $clear-theme--bg{
        background:     rgba($color, 0.15);
        &:hover{
            background: rgba($color,0.2)}
        &:before{
            background: rgba($color,0.4)}
    }

    
}


