
.is-vertical-centered {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}


@function pow($number, $exponent) {
    $value: 1;  
    @if $exponent > 0 {
        @for $i from 1 through $exponent {
            $value: $value * $number;
        }
    }  
    @return $value;
}

@function sqrt($r) {
    $x0: 1;
    $x1: $x0;
    @for $i from 1 through 10 {
        $x1: $x0 - ($x0 * $x0 - abs($r)) / (2 * $x0);
        $x0: $x1;
    }   
    @return $x1;
}

@mixin alert-style($color) {
    border-left-color: $color;
    
    @if $theme--bg == $dark-theme--bg{
        background:     rgba($color, 0.12);
        &:hover{
            background: rgba($color,0.3)}
        &:before{
            background: rgba($color,0.7)}

    } @else if $theme--bg == $clear-theme--bg{
        background:     rgba($color, 0.15);
        &:hover{
            background: rgba($color,0.2)}
        &:before{
            background: rgba($color,0.4)}
    }

    
}


