.logo{
    display: flex;        
    align-content: center;
    align-items: center;
    // margin: 40px 40px;
    transition: 0.3s $animation-ease-out;
    color: $theme--fg;
    img, .text h1{
        transition: 0.3s $animation-ease-out;
    }
    h1{
        font-weight: 400;
        margin: 0;
    }

    &.small{
        flex-direction: row;
        margin: 40px 40px; 
        img{
            width: 40px;
        }
        .text{
            margin: 0 15px;
            font-size: 20px;
            line-height: 17px;
        }
    }

    &.big{ 
        // margin-top: 60px;        
        flex-direction: column;
        img{
            width: 180px;
        }
        .text {
            margin: 50px 0 0 0;
            font-size: 60px;
            line-height: 50px;
        } 
    }
} 