.navpanel{ 
    .item{
        width: 100%;
        padding: 15px 35px 15px 25px;
        
        text-transform: uppercase;
        font-size: 12px;
        letter-spacing: 0.1em; 
        color: rgba($theme--fg, 0.5);
        border-left: solid 3px transparent;
        display: flex;
        align-items: center;
        cursor: pointer;
        transition: 0.3s;

        &.user-section{
            position: fixed;
            bottom: 30px;
            z-index: 9999;
        }
        
        i.material-icons{
            font-size: 22px; 
            margin-right: 20px;
        }

        &:hover{
            color: rgba($theme--fg, 0.8);
        }

        &.selected{
            font-weight: bold;
            color: $main-color;
            border-left-color: $main-color;
            background: linear-gradient(to right, darken($theme--bg, 5), transparent);
        }
    }
}
