.newdata-add-container {

    .panel-wrapper{ 
        height: calc(100% - 150px)!important; 
    }

    .edit-panel{
        .x-select{
            margin-left: 0px;
            width: 350px;
            .select-selected{
                // border: solid 1px rgba($theme--fg, 0.5)!important;
                background: transparent!important;
                padding: 10px 50px!important;
            }
        }
    }
}
.newdata-container 
    newdata-content, .newdata-content{
        width: calc(100% - 350px)!important;  
        height: 100vh!important;
        overflow-y: auto;

    } 
    newdata-item-wrapper, .newdata-item-wrapper{
        height: calc(100vh - 210px);
    }
    .subsection-switcher{ 
        width: 320px;
        @media screen and (max-width: 600px) { 
            width: 100%;
        }
    }
    h5{
        font-size: 10px;
        text-transform: uppercase;
        letter-spacing: 2px;
        color: $main-color;
        font-weight: bold; 
        padding-top: 30px;
        text-align: center;
        width: 100%;
        margin: 0;        
    }

    $tabw: 33.33%;
    $tabh: 55px;
    $border-color: $main-color;
    .search-box{
        margin-top: 20px;
    }
    .tabs{
        width: 320px;
        margin: 15px 0 0 0;
        height: $tabh;
        display: flex; 
        position: relative;
        justify-content: flex-start;
        transition: 0.3s $animation-ease-out; 
        border-bottom: solid 1px rgba($theme--fg, 0.1); 
        overflow: hidden;
        @media screen and (max-width: 600px) { 
            width: 100%;
        }
        &:after{
            z-index: 0;
            content: "";
            position: absolute;
            width: $tabw; 
            height: calc(#{$tabh} - 3px);  
            transition: 0.3s $animation-ease-out;
            border-bottom: solid 4px $main-color;

        }
        &[tab-selected="0"]:after{
           left: 0px;
        }
        &[tab-selected="1"]:after{
            left: $tabw;
        }
        &[tab-selected="2"]:after{
            left: $tabw*2;
        }
        .tab{ 
            width: $tabw; 
            padding: 0 20px 0 20px;
            height: 100%; 
            cursor: pointer;
            font-size: 12px;    
            display: flex;  
            align-content: center;
            align-items: center;
            justify-content: flex-start;  
            color: rgba($theme--fg, 0.4);
            transition: 0.3s $animation-ease-out; 
            position: relative;
            z-index: 2;  
            &:hover{   
                color: $main-color; 
                background: rgba($theme--fg, 0.08);
            }
            i{
                font-size: 20px; 
                margin-right: 15px;
                margin-left: 25px;
                position: relative;  
               
            }
            span{
                font-size: 11px; 
                text-transform: uppercase;
                letter-spacing: 1px;
                position: relative;   
                display: none;
            }
            &.selected{ 
                color: $main-color;
                font-weight: bold; 
            }
        }
    }
