@import 'variables';

.download-button{
    position: fixed;
    top: 3.33%;
    right: 3.33%;
    height: 44px;
    background-color: $theme--bg;
    color: $theme--fg;
    border-radius: 44px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    display: flex;
    align-items: center;
    padding: 12px 25px;
    cursor: pointer;
    z-index: 1000;
    max-width: 400px;   
    transition: all 0.4s $animation-ease-out;

    &:hover{
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }
    span{
        font-weight: bold;
        font-size: 13px;
        overflow: hidden;
        transition: 0.3s $animation-ease-out; 
    }
    i{
        margin-right: 10px;
        font-size: 15px;
    }

    &.downloading{ 
        box-shadow: none;
        background-color: transparent;
        transform: translateY(100vh);
        // opacity: 0; 
 
    } 
}

.report-panel{
    .x-select{
        margin: 0 0px 20px 0px!important;
        height: 75px;
        width: fit-content;
        border: solid 1px rgba(0,0,0,0.2);
        border-radius: 5px;
        max-width: 100%;
        .select-selected{
            padding: 12px 60px 12px 45px;
            span.value{
                font-size: 20px;
            }
        }
    }
    overflow-x: hidden; 
    background: rgba($theme--fg, 0.08);

    @media screen and(max-width: 600px){
        padding: 30px 30px 100px 30px!important;
    }
    .performance{
        display: flex;
        flex-wrap: wrap;
    }
    .cases-chart{
        width: calc(100% - 350px);
        min-width: 400px;
        margin-left: -50px;
        margin-right: -50px;
        margin-top: -30px;

        @media screen and(max-width: 600px){
            margin-top: 30px;
        }

        ul {
            margin-left: 160px;
            margin-top: 20px;
            width: 450px;
            display: flex;
            flex-wrap: wrap;
            @media screen and(max-width: 600px){
                margin-left: 40px;
                margin-bottom: 100px;
                li{
                    width: 170px;  
                }
            }
            li{

                &:nth-child(1) .circle{
                    background: #3E95CD;
                }
                &:nth-child(2) .circle{
                    background: #8E5EA2;
                }
                &:nth-child(3) .circle{
                    background: #3CBA9F;
                }
                &:nth-child(4) .circle{
                    background: #E8C3B9;
                }
 
                width: 200px;  
                margin-bottom: 10px;
                display: flex;
                align-items: center;
                .circle{
                    border-radius: 50%;
                    width: 15px;
                    height: 15px;
                    background: #ccc;
                    margin-right: 20px;
                }
                .quantity{
                    font-weight: bold;
                    margin-right: 10px;
                    font-size: 14px;
                }
                .name{
                    font-size: 14px;
                    letter-spacing: 1px; 
                }
            }
        }
    }
    .card-wrapper{
        display: flex;
        flex-direction: column;
    }
    .card{
        width: 300px;
        background-color: $theme--bg;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        margin: 0px 0px 20px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        .month{
            font-weight: bold;
            font-size: 30px;
            margin-bottom: 20px;
        }
        .wrap{

            &.attention{
                border-bottom: solid 1px rgba($theme--fg, 0.2);
                padding-bottom: 10px;
            }
            &.solution{  
                padding-top: 10px;
            }
            justify-content: space-between; 
            max-width: 225px;
            width: 100%;
            display: flex;     
            align-items: center;       
            .description{
                padding-right: 10px;
                font-size: 14px;
                color: rgba($theme--fg, 0.65);
            }
            .data{ 
                text-align: right;
                font-size: 14px; 
                font-weight: bold;
            }
        }
    }
}

.graph-tabs{
    display: flex;
    width: 100%; 
    margin-bottom: 60px;
    
    justify-content: flex-start;
    @media screen and (max-width: 900px){
        
        justify-content: center;
        position: fixed;
        width: 100%;
        bottom: 0;
        left: 0;
        z-index: 100;
        background: $theme--bg;
        margin-bottom: 0;
        .tab.selected{       
            border-bottom: none!important;
            border-top: solid 2px $main-color;
        }
    }
    .tab{
        display: flex;
        align-items: center;
        font-weight: bold;
        font-size: 12px;
        letter-spacing: 1px;
        text-transform: uppercase;
        opacity: 0.4;
        padding: 20px 30px;
        cursor: pointer;
        transition: 0.3s $animation-ease-out; 
        border-bottom: solid 1px transparent;
        @media screen and (max-width: 600px){
            
            border-bottom: none;
            width: 33.33%;
            justify-content: center;
            span{
                display: none;
            }
            i{
                font-size: 25px!important;
            }
        }
        &:hover{
            opacity: 0.6;
        }
        &.selected{
            opacity: 1;
            color: $main-color;            
            border-bottom: solid 1px $main-color;
        }
        i{
            font-size: 15px;
            margin-right: 15px;
        }
    }
}


.chart-container{
    position: relative;
    max-width: 100%; 
}
.chart-wrapper{
    transition: 0.5s $animation-ease-out;
    position: absolute;    
    width: 100%;
    top: 0;
    &.visible{    
        opacity: 1;    
        transform: translateX(0vw);
    } 
    &.left{
        opacity: 0;
        transform: translateX(-10vw);
    }
    &.right{
        opacity: 0;
        transform: translateX(10vw);
    }
}

.report-panel{
    padding: 50px 50px;
    @media screen and (max-width: 600px) { 
        padding: 70px 10px;
    }

    .x-select{
        margin-left: -20px;
    }
} 

.chart-item-wrapper{
    display: flex;
    flex-wrap: wrap;
    margin: 30px 0px 50px 0px;
    width: calc(100% + 200px); 
    
    
    .line-chart-item{
        width: calc(100% - 250px); 
    }
    .radar-chart-item{ 
        width: calc(100% - 100px);  
        margin: 0 0 0 -100px; 
    }
}


.infrastructure-wrapper{
    display: flex; 
    flex-direction: column;   
}

.infrastructure-card-wrapper{
    display: flex;
    flex-direction: row;
    width: 100%; 
    margin-top: 20px;
    flex-wrap: wrap;
    min-width: 100%;
    .infrastructure-card{
        text-align: center;
        background: white;
        padding: 30px 40px;
        width: 400px;        
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        margin: 0 20px 20px 0;
        cursor: pointer;
        border-radius: 5px;
        .title{            
            text-align: center;
            margin-bottom: 15px;
            .pre{                
                text-align: center;
                text-transform: uppercase;
                font-weight: bold;
                font-size: 10px;
                letter-spacing: 1px;
            }
            .name{
                text-align: center;
                font-weight: bold;
                font-size: 30px;
            }
        }

        .table{
            display: flex;
            justify-content: space-between;
            text-align: center;
            .th{
                font-size: 11.5px;
                font-weight: bold;
                // color: rgba($theme--fg, 0.65);
            }
            .td{
                font-size: 13.5px;
            }
        }
        hr{
            margin-top: 20px;
            margin-bottom: 5px;
        }
        .expanded{
            margin: 20px -10px 0 -25px;
            table{
                font-size: 11.5px;
                width: 100%;
            }
        }
    }
}