
.menu-btn{
    display: none;
}

.back-nav{ 
    display: none;
}

@media screen and (max-width: 1050px) { 

    .menu-btn{ 
        position: fixed;
        top: 20px;
        left: 5px;
        z-index: 9998; 
        color: rgba($theme--fg, 0.7); 
        display: block; 
        padding: 20px;
    }
    
    .back-nav{  
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(#333,0.2);
        z-index: 8000; 
        opacity: 1;
        transition: opacity 0.3s $animation-ease-out;
        display: block; 
    }

    .nav-hidden{
        &.dash-nav{
            transform: translateX(-260px);
        }
        &.back-nav{
            opacity: 0;
            height: 0;
        }
    }
}
@media screen and (max-width: 600px) { 
    .section-nav{
        .x-select{
            margin: 10px auto 0 auto;
            width: calc(100% - 40px); 
        }
    }
    .search-box input[type="search"]{
        // padding: 15px 40px 15px 50px!important;
        text-align: center;
        margin: 0 auto 10px auto;
        width: calc(100% - 105px);
    }

    .add-container .panel{
        max-width: 100%;
        right: 0px; 
        padding: 20px 0!important;
        form{
            overflow-x: hidden;
        }
        .head-data{
            padding: 10px 0px 0 10px;
        }
        .x-select{
            margin: 10px 19px 0px 20px !important;
        }
        .x-select i{
            display: none;
        }
        .select-selected{
            padding: 12px 45px 12px 15px
        }
    }


    .section-content{ 
        z-index: 1050!important;
        padding: 100px 20px 60px 25px !important;
        position: fixed!important; 
        top: 0!important;
        left: 0!important;
        background: $theme--bg;
        width: 100vw!important;
        &.is-closed{
            left: 100%!important;
        }
        &.is-opened{
            left: 0!important; 
        }

        .input-group, .textarea-group{
            margin: 0!important;
            max-width: 100%;
            padding: 0;
        }
        .x-select{
            margin: 0 0 0 -20px !important;
            width: calc(100vw - 10px);
            .select-selected{
                padding: 10px 80px !important;
            }
        }
        textarea{
            margin-left: -20px;
            padding: 20px 0 20px 20px;
            margin-bottom: 20px;
            max-width: calc(100vw - 10px);
        }
        label.extra-big, .textarea-group label{
            padding-left: 0; 
        }
        input.extra-big{
            margin-left: -20px; 
            width: calc(100vw - 10px)!important;
            max-width: none;
            padding: 20px 0 20px 20px;
            // font-size: 50px;
        }
    }
}