@import 'variables';
@import 'helpers';
@import 'navbar';
@import 'editContainer';
@import 'caseContainer';
@import 'agentContainer';
@import 'reportContainer';
@import 'newdataContainer';
@import 'itemList';
@import 'addContainer';


// Panels Widhts ===================================================================

.section-container{
    overflow-x: hidden!important;
}

.back-dash{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    opacity: 1; 
    z-index: 10001;
    transition: all 1s $animation-ease-out;
    &.closed{ 
        opacity: 0!important;
        height: 0;
        .lds-ring{
            // z-index: -1!important;
            display: none;
            animation-play-state: paused;
        }
    }
}

.container{    
    .row{
        display: flex;
    }    
    .column{        
        min-height: 100vh;
        &.dash-nav, &dash-nav{
            width: 220px;
            overflow-x: hidden; 
            background:$theme--bg;
            transition: 0.3s $animation-ease-out;
            @media screen and (max-width: 1050px) { 
                .logo{
                    margin: 40px 40px 40px 70px!important;
                }
                position: fixed;
                z-index: 9000;
                box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
            }
        }
        &.dash-content, &dash-content{
            overflow-x: none;
            width: calc(100% - 220px)!important;
            transition: 0.3s $animation-ease-out;
            position: relative;
            @media screen and (max-width: 1050px) {
                width: 100vw!important;
            }
        } 
        &.section-nav { 
            width: 370px; 
            padding-left: 20px;
            overflow-x: hidden;
            background: $theme--bg;
            transition: 0.3s $animation-ease-out;
            @media screen and (max-width: 600px) {
                width: 100vw!important;
            }
        }
        &.section-content {   
            width: 100%;
            overflow-x: hidden!important;            
            padding: 60px 100px 60px 100px;
            position: relative;
            transition: 0.3s $animation-ease-out;
            @media screen and (max-width: 1050px) {
                padding: 100px 80px 60px 80px;
            }
            @media screen and (max-width: 600px) {
                width: 100vw!important;
            }
        }
    }
}

.add-container{    
    .button{        
        left: 515px;  
        bottom: 50px;           
        
        @media screen and (max-width: 1050px) { 
            left: 270px;            
            bottom: 30px; 
        }
        @media screen and (max-width: 600px) {
            left: calc(100vw - 85px); 
        }
    }
}


.status-group{ 
    width: 320px;
    margin: 0;
    padding: 0;
    position: relative;
    
    @media screen and (max-width: 600px) { 
        width: calc(100% - 10px);
    }
}

.status-group-name{
    background-color: $theme--bg;
    top: 0px;
    z-index: 11; 
    
    font-weight: bold;
    padding: 10px 20px 10px 10px;  
    color: rgba($theme--fg, 0.8);
    font-size: 15px;  
    letter-spacing: 0.3px;
    // text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    position: -webkit-sticky;
    position: sticky;
    margin-top: 20px;
    // span.name{
    //     // color: $main-color;
    // }
    span.quantity{
        color: rgba($main-color, 1);
        font-size: 14px;
        margin-right: 15px;
    }
    i{
        float: right;
        margin-right: 15px;
        color: $main-color;
        transition: 0.3s $animation-ease-out;
        
        &.hidden{
            transform: rotate(180deg); 
        }
    } 
}


// Panels preview content ===============================================================

.container .section-content{
    position: relative;
    transition: 0.3s; 
    width: 100%;  
    &.is-closed{
        transition: 0.3s; 
        background: $theme--bg;
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center; 
        h1{
            font-weight: bold;
            text-align: center;
            color: rgba($theme--fg, 0.15);
            // margin: 200px auto 0 auto;
            max-width: 500px;
        }
    }
    // Opened panel
    .section-content-wrapper{
        color: $theme--fg;
        min-width: 100%!important;
        display: flex; 
        flex-direction: column; 
        .pre-data{
            color: rgba($theme--fg,0.4);
            padding: 10px 50px 10px 0;
            display: block;  
            text-transform: uppercase;
            letter-spacing: 2px;
            font-size: 12px; 
            font-weight: bold;
            // margin-bottom: 0px;
        }
        h1{      
            font-weight: bold;  
            margin-bottom: 40px; 
        }
        pre{
            white-space: pre-wrap;  
            overflow: hidden; 
            font-style: italic;
        } 
        .user-name, .author{
            
            
            span{
                font-size: 25px;
                color: rgba($theme--fg, 0.5);
                letter-spacing: 1px; 
                font-weight: bold;
            }

            b{
                font-size: 15px;
                color: rgba($theme--fg, 0.25);
            }
        }  
        .item-list{
            // margin-top: 10px;
            display: flex;
            flex-direction: column; 
            // flex-wrap: wrap;
            .item{ 
                display: flex;
                // flex-direction: column; 
                align-content: center;
                align-items: center;
                padding: 5px 40px 0px 0;
                .data-wrapper{
                    color: $theme--fg; 
                    .field{
                        text-transform: uppercase;
                        letter-spacing: 1px;
                        font-size: 12px;
                        line-height: 14px;
                        font-weight: bold;
                        color: $theme--fg; 
                        margin-bottom: 5px; 
                    }
                    .data{
                        color: rgba($theme--fg, 0.4);
                        font-size: 13px;
                        line-height: 15px;
                        font-weight: bold;
                        display: inline-block;
                    }
                }
                i{
                    margin-right: 30px;
                    color: $main-color;
                }
            }
        }
    }  
}  



.lds-ring {
    display: inline-block;
    position: fixed;
    z-index: 10002;
    top: calc(50% - 32px);
    left: calc(50% - 32px);
    width: 64px;
    height: 64px;
    transform: scale(1.3); 
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 51px;
    height: 51px;
    margin: 2px;
    border: 2px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: $main-color transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  