@import 'navbar';

.dashboard-container{  

    .now-time{
        position: absolute; 
        top: 0;
        right: 0;
        padding: 10px 30px;
        z-index: 30;
        text-align: right;
        display: flex;
        color: #444;
        font-size: 12px;

        .date{
            margin-right: 10px;
        }
        .time{
            font-weight: bold;
        }
    }
    
    // Right Alert Detail panel
    .preview-panel{  
        padding: 70px; 
        background-color: $preview-panel-close-bg; 
        transition: $animation-ease-out 0.3s; 
        justify-content: flex-start;
        // align-items: center;
        // align-content: center;
        text-align: left;
        position: relative;

        &.is-opened{
            background-color: $preview-panel-open-bg;
        } 

        .opened{
            min-width: 100%;    
        }
  
        .closed{
            h1{
                font-family: Walfork;
                font-weight: 600;
                color: #ccc; 
                font-size: 60px; 
                text-align: left;
                padding: 0 0 0 40px;
            }

            .item-wrapper{
                display: flex;
                flex-direction: column;    
                align-content: flex-start;            
                align-items: flex-start;            
                margin-top: 50px;

                .item{   
                    font-size: 24px;
                    text-align: center;
                    display: flex;                 
                    padding: 10px 30px;
                    margin: 5px 10px;
                    min-width: 300px;
                    border-radius: 3px;
                    width: auto;
                    align-items: center;
                    align-content: center;
                    justify-content: flex-start; 
                    position: relative;

                    // Asign priority alerts item format
                    @each $key, $val in $priorities {                
                        &.#{$key}-priority {  
                            // background-color: lighten($val, 32);  
                            // border: solid 1px darken($val, 0);
                            
                            &:before{
                                content: "";
                                position: absolute;
                                width: 15px;
                                height: 15px;
                                border-radius: 50%;
                                background-color: lighten($val,20);
                                border: solid 1px $val;
                                left: 0;
                            }
                            
                        }
                    } 

                    .circle{ 
                        font-weight: 600;
                        margin-left: 25px;
                        margin-right: 20px;              
                    }
                }
            }
        }
    } 

    // User Button
    .user-button{
        display: flex; 
        align-items: center; 
        padding: 20px 40px 20px 30px;
        position: absolute;
        bottom: 20px;
        left: 0px; 
        width: 250px;
        cursor: pointer;
        border-left: solid 3px transparent;
        transition: $animation-ease-out 0.3s; 
        &:hover{
           border-left: solid 3px #333;
           font-weight: 600;
        }
        .user-name{
            margin-left: 20px; 
            font-size: 13px;
            letter-spacing: 1px;
            text-transform: uppercase;
        }
        .user-avatar{
            background-color: $main-color;
            color: white;
            width: 40px;
            height: 40px;
            line-height: 40px;
            border-radius: 50%;
            text-align: center;
        }
    }



    .alert-item-wrapper{
        margin-top: 5px;
        height: calc(100vh - 155px);
        overflow-y: auto;
        overflow-x: hidden;
        padding-bottom: 0;

        .alert-item{
            display: flex; 
            padding: 15px 30px;
            font-size: 13px;
            justify-content: space-between; 
            margin: 5px 30px 5px 10px;
            cursor: pointer;
            transition: 0.15s;
            position: relative;
            border-left: 4px solid; 

            .alert-title{
                white-space: nowrap; 
                overflow: hidden;
                text-overflow: ellipsis;
                max-width: 170px; 
                
                font-size: 13px; 
                padding: 0;
                margin: 0;
                font-weight: bold;
            }

            .alert-client{
                // text-transform: uppercase;
                opacity: 0.6;
                font-size: 10px;
                &:before{
                    content: "De: "; 
                }
            }

            .alert-datetime{
                max-width: 58px;
                text-align: right; 
                right: 0;
                top: 0;
                overflow: hidden;
                white-space: nowrap;
                font-size: 11.5px;  
                opacity: 0.7;
            }

            &>div{  
                z-index: 1; 
                color: $theme--fg;
            }
            
            // Asign priority alerts item format
            @each $key, $val in $priorities {                
                &.#{$key}-priority { 
                    @include alert-style($val); 
                }
            } 

            &:before{
                content: "";
                display: block;
                position: absolute;
                width: 0%;
                height: 100%;
                transition: $animation-ease-out 0.3s; 
                top: 0;
                left: 0;
                z-index: 0;
            }

            &.selected{       
                margin-left: -4px; 
                &:before{
                    width: 100%;
                }  
                .alert-title{ 
                    max-width: 180px;
                }
            } 
        }
    }

    
    /***************************************************************/

    .requirement-panel{ 
        width: calc(100% - 250px);
        padding: 0!important;
        max-height: 100vh; 

        .row{
            min-height: auto!important;
            height: auto!important;
        }
        
        form{
            padding: 0 100px;
            display: flex;
        }

        .head-data{
            padding: 50px 100px 0 100px; 
            .input-group {
                display: flex;
                flex-direction: column;
                padding: 7px 10px;
                position: relative;   
                align-items: flex-start;
                align-content: flex-start;
            }
            
            input{
                display: block;
                background: $input--bg;
                color: $input--fg; 
                font-family: "Walfork";
                outline: none;
                padding: 10px 10px;
                font-size: 80px;
                border: none;
                min-width: 100%;
                font-weight: 600;
                min-height: 30px; 
            }            
        }

        h1{
            padding: 50px 100px;
        }
         
        button{
            margin: 30px 0 0 110px!important;
            display: block;
        }
    }

    .report-panel{
        width: calc(100% - 250px);
        padding: 50px 100px;
        h1{
            margin-bottom: 30px;
        }
        .graph-wrapper{
            width: 100%; 
        }
    }

    .new-client-panel{
        width: calc(100% - 250px);
        padding: 50px 100px;
        form{
            display: flex;
        }
    } 
}
