@import 'variables';
@import 'helpers';
@import 'navbar';
@import 'addContainer';
@import 'editContainer';
@import 'caseContainer';
@import 'agentContainer';
@import 'reportContainer';
@import 'newdataContainer';


// Panels Widhts ===================================================================

.section-container{
    overflow-x: hidden!important;
}
 
.container{    
    .row{
        display: flex;
    }    
    .column{        
        min-height: 100vh;
        &.dash-nav, &dash-nav{
            width: 250px;
            overflow-x: hidden; 
            background: $theme--bg;
            transition: 0.3s $animation-ease-out;
            @media screen and (max-width: 1050px) { 
                .logo{
                    margin: 40px 40px 40px 70px!important;
                }
                position: fixed;
                z-index: 9000;
                box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
            }
        }
        &.dash-content, &dash-content{
            overflow-x: none;
            width: calc(100% - 250px)!important;
            @media screen and (max-width: 1050px) {
                width: 100vw!important;
            }
        } 
        &.section-nav { 
            width: 350px; 
            overflow-x: hidden;
            @media screen and (max-width: 600px) {
                width: 100vw!important;
            }
        }
        &.section-content {     
            overflow-x: hidden!important;            
            padding: 100px 100px 60px 100px;
            position: relative;
            @media screen and (max-width: 1050px) {
                padding: 100px 80px 60px 80px;
            }
            @media screen and (max-width: 600px) {
                width: 100vw!important;
            }
        }
    }
}

.add-container{    
    .button{        
        left: 535px;  
        bottom: 50px;           
        @media screen and (max-width: 600px) {
            left: auto;
            right: 3.33%; 
            bottom: 3.33%; 
        }
    }
}


.status-group{ 
    width: 320px;
    margin: 0;
    padding: 0;
    position: relative;
    
    @media screen and (max-width: 600px) { 
        width: calc(100% - 10px);
    }
}
.status-group-name{
    background-color: $theme--bg;
    top: 0px;
    z-index: 10; 
    position: -webkit-sticky;
    position: sticky;
    font-weight: bold;
    padding: 10px 20px 10px 20px;  
    color: rgba($theme--fg, 0.8);
    font-size: 15px;  
    letter-spacing: 0.3px;
    // text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;  
    &:hover{
        color: $main-color;  
    }
    i{
        float: right;
        margin-right: 15px;
        transition: 0.3s $animation-ease-out;
        
        &.hidden{
            transform: rotate(180deg); 
        }
    } 
}

// Item list wrapper =========================================================

.item-wrapper{    
    overflow-y: scroll;
    overflow-x: hidden;
    padding-bottom: 40px;
    margin-top: 5px;  
    transition: all 0.3s; 

    .refresh-btn{
        cursor: pointer;
        width: 320px; 
        @media screen and (max-width: 600px) { 
            width: 100%;
        }
        display: flex;
        justify-content: center;
        align-content: center;
        position: relative;  
        i{
            color: rgba($theme--fg,0.3); 
            text-align: center; 
            transition: 0.3s $animation-ease-out; 
        }
        @keyframes rotating{
            from {transform: rotate(0deg)}
            to {transform: rotate(360deg);}
        }
        .loading{
            animation: rotating 1s infinite; 
        }
        &.big i{ 
            font-size: 100px;
            width: 200px;
            height: 200px; 
            line-height: 200px;
        }
        &.small i{ 
            font-size: 25px;
            width: 40px;
            height: 40px; 
            line-height:40px; 
        }
        &:hover i{
            color: $main-color;
        }
    } 
    
    .item{
        display: flex; 
        padding: 20px 30px;
        font-size: 13px;
        justify-content: space-between; 
        margin: 5px 0px 5px 10px;        
        transition: 0.15s $animation-ease-out;
        position: relative;
        border-left: 4px solid rgba($theme--fg, 0.25); 
        background: rgba($theme--fg, 0.08); 
        cursor: pointer;

        .left{
            z-index: 1;
            display: flex;
            color: $theme--fg;
            .title{
                white-space: nowrap; 
                overflow: hidden;
                text-overflow: ellipsis;
                max-width: 170px;  
                font-size: 13px; 
                padding: 0;
                margin: 0;
                font-weight: bold;
                padding-right: 10px;
            }    
            .data{ 
                opacity: 0.6;
                font-size: 13px; 
            }
        }
        .right{             
            text-align: right; 
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            .status{ 
                margin-right: -5px;
                border-radius: 2px;
                color: rgba($theme--fg, 0.7);
                font-size: 9px;
                letter-spacing: 1px;
                padding: 1px 5px;
                z-index: 1;
                border: solid 1px  rgba($theme--fg, 0.3);
                // &.status-1{
                    
                // }

            }        
            .datetime{
                z-index: 1;
                color: $theme--fg;  
                font-size: 11.5px;  
                opacity: 0.7;
            } 
        }

        // Animation when selected
        &:before{
            content: "";
            display: block;
            position: absolute;
            width: 0%;
            height: 100%;
            transition: $animation-ease-out 0.3s; 
            top: 0;
            left: 0;
            z-index: 0;
        }

        &.selected{       
            margin-left: -4px;  
            background: rgba($theme--fg, 0.16);
            &:before{
                width: 100%;
            }   
            .title{ 
                max-width: 180px;
            }
        } 
    }
}

// Panels preview content ===============================================================

.container .section-content{
    position: relative;
    transition: $animation-ease-out 0.3s; 
    width: 100%;  
    &.is-closed{
        background: $theme--bg;
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center; 
        h1{
            font-weight: bold;
            text-align: center;
            color: rgba($theme--fg, 0.15);
            // margin: 200px auto 0 auto;
            max-width: 500px;
        }
    }
    // Opened panel
    .section-content-wrapper{
        color: $theme--fg;
        min-width: 100%!important;
        display: flex; 
        flex-direction: column; 
        .pre-data{
            color: #666; 
            padding: 10px 50px 10px 0;
            display: block;  
            text-transform: uppercase;
            letter-spacing: 2px;
            font-size: 12px; 
            font-weight: bold;
            // margin-bottom: 0px;
        }
        h1{      
            font-weight: bold;  
            margin-bottom: 40px; 
        }
        pre{
            font-family: "Walfork"; 
            white-space: pre-wrap;  
            overflow: hidden; 
            font-style: italic;
        } 
        .user-name, .author{
            
            
            span{
                font-size: 25px;
                color: rgba($theme--fg, 0.5);
                letter-spacing: 1px; 
                font-weight: bold;
            }

            b{
                font-size: 15px;
                color: rgba($theme--fg, 0.25);
            }
        }  
        .item-list{
            // margin-top: 10px;
            display: flex;
            flex-direction: column;
            // flex-wrap: wrap;
            .item{ 
                display: flex;
                // flex-direction: column; 
                align-content: center;
                align-items: center;
                padding: 5px 40px 0px 0;
                .data-wrapper{
                    color: $theme--fg; 
                    .field{
                        text-transform: uppercase;
                        letter-spacing: 1px;
                        font-size: 12px;
                        line-height: 14px;
                        font-weight: bold;
                        color: $theme--fg; 
                        margin-bottom: 5px; 
                    }
                    .data{
                        color: rgba($theme--fg, 0.4);
                        font-size: 13px;
                        line-height: 15px;
                        font-weight: bold;
                        display: inline-block;
                    }
                }
                i{
                    margin-right: 30px;
                    color: $main-color;
                }
            }
        }
    }  
}  