<!-- 03. Reports Section ****************************************** -->
<div class="item-body column report-panel"> 
    <h1 class="bold">Reporte</h1> 
    <br>

    <div class="time-reponse">
        <h3>Tiempos promedio de respuesta</h3>
        <table>
            <tr>
                <th></th>
                <th>Atención</th>
                <th>Solución</th>
            </tr>
            <tr ng-repeat="a in $ctrl.attentionTime">
                <th>{{$ctrl.today | amAdd : a.month*1 : 'months' | amDateFormat: 'MMMM'}}</th>
                <td>{{a.mediatime*1 | amDurationFormat : 'seconds' }}</td>
                <td>{{$ctrl.solutionTime[$index].mediatime*1 | amDurationFormat : 'seconds' }}</td>
            </tr> 
        </table>   
    </div>

    <br><br>

    <div class="cases-resume"> 
        <h3>Resumen de casos</h3> 
        <table>
            <tr>
                <th>Abiertos</th>
                <td>{{$ctrl.pie.data[0]}}</td>
            </tr>
            <tr>
                <th>En progreso</th>
                <td>{{$ctrl.pie.data[1]}}</td>
            </tr>
            <tr>
                <th>Solucionados</th>
                <td>{{$ctrl.pie.data[2]}}</td>
            </tr>
            <tr>
                <th>Cancelados:</th>
                <td>{{$ctrl.pie.data[3]}}</td>
            </tr>
        </table>
        <canvas id="pie" class="chart chart-pie"
            chart-data="$ctrl.pie.data" 
            chart-labels="$ctrl.pie.labels">
        </canvas>
    </div> 
    <br><br>
    <div class="chart-wrapper">
        <h3>Por periodo de tiempo</h3> 
        <div class="chart-item-wrapper">
            <div class="chart-item line-chart-item">
                <canvas id="line" class="chart chart-line" chart-data="$ctrl.line.data"
                    chart-labels="$ctrl.line.labels" chart-series="$ctrl.line.series" chart-options="$ctrl.line.options">
                </canvas>
            </div>
        </div>
    </div>
    <div class="chart-wrapper">
        <h3>Por infraestructura</h3>
        <br>
        <xselect label="Infraestructura:" ng-model="asset" options="$ctrl.d"></xselect> 
        <div class="chart-item-wrapper">
            <div class="chart-item radar-chart-item">
                <canvas id="radar" class="chart chart-radar"
                    chart-data="$ctrl.radar.data" chart-options="$ctrl.radar.options" 
                    chart-series="$ctrl.radar.series" chart-labels="$ctrl.radar.labels">
                </canvas>
            </div> 
        </div> 
    </div>  

    <div class="infrastructure-wrapper" ng-if="$ctrl.asset != undefined">
        <div class="infrastructure">
            <caption><b>Infraestructura:</b> {{$ctrl.asset.name}}</caption>
            <div class="table-wrapper">
                <table class="theats" ng-repeat = "dx in asset.threatType">   
                    <tr> 
                        <th>Amenaza:</th>
                        <td>{{dx.name}}</td>
                    </tr>
                    <tr> 
                        <th>Ocurrencia:</th>
                        <td>{{dx.ocurrences}}</td>
                    <!-- </tr> -->
                    <tr> 
                        <th>Probabilidad:</th>
                        <td>{{dx.probability*10}}%</td>
                    </tr>
                    <tr> 
                        <th>Impacto:</th>
                        <td>{{dx.impact}}</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <table > 
                                <tbody>
                                    <tr>
                                        <th>Agente:</th>
                                        <th>Recom.</th>
                                        <th>Ocurr.</th> 
                                        <th>Prob.</th>  
                                    </tr>
                                    <tr ng-repeat="d in dx.agentThreat"> 
                                        <td>{{d.name}}</td>
                                        <td>{{d.recomendation}}</td>
                                        <td>{{d.ocurrences}}</td>
                                        <td>{{d.probability*100}}%</td>
                                    </tr> 
                                </tbody> 
                            </table>
                        </td>
                    </tr>                   
                </table> 
            </div>
        </div>
    </div>
</div>  