<div class="case-add-container add-container" ng-class="($ctrl.status.isClosed())?'closed':'opened'"> 
    <div class="back" ng-click="$ctrl.status.shuffle()"></div>
    <div class="button">
        <i class="close material-icons" ng-click="$ctrl.status.shuffle()">add</i>
    </div> 
    <div class="panel">
        <div class="panel-wrapper">
            <div class="head-data">
                <xinput label="Registrar nuevo caso" ng-model="$ctrl.CaseAdd.data.subject" placeholder="Título del caso"></xinput>
                <xtextarea ng-model="$ctrl.CaseAdd.data.description" placeholder="Escribe una descripción"></xtextarea>
            </div> 
            <form>     
                <div class="col">                    
                    <xselect label="Medio de registro:" options='$ctrl.options.registerMedium' ng-model="$ctrl.CaseAdd.data.registerMedium"></xselect> 
                    <xselect label="Tipo de Caso:" options='$ctrl.options.caseType' ng-model="$ctrl.CaseAdd.data.caseType"></xselect>
                    <xselect label="Activo:" options='$ctrl.options.assetRepository' ng-model="$ctrl.CaseAdd.data.asset"></xselect> 
                </div>
                <div class="col">  
                    <xselect label="Agente de amenaza:" options='$ctrl.options.agentThreat' ng-model="$ctrl.CaseAdd.data.agentThreat"></xselect> 
                    <xselect label="Responsable:" options='$ctrl.options.agent' ng-model="$ctrl.CaseAdd.data.responsable"></xselect>
                    <xselect label="Cliente:" options='$ctrl.options.client' ng-model="$ctrl.CaseAdd.data.client"></xselect>
                </div>                  
            </form>
            <button ng-disabled="$ctrl.CaseAdd.areFieldsMissing()" ng-click="$ctrl.saveCase()">Registrar</button>     
        </div>   
    </div>
</div>