<div class="case-add-container add-container" ng-class="($ctrl.CaseAdd.isClosed())?'closed':'opened'"> 
    <div class="back" ng-click="$ctrl.CaseAdd.shuffle()"></div>
    <div class="button tooltiped" 
        data-tooltip="{{$ctrl.CaseAdd.isClosed()?'Registrar caso':'Cerrar'}}"
        data-position="{{$ctrl.CaseAdd.isClosed()?'top':'bottom'}}">
        <i class="close material-icons" ng-click="$ctrl.CaseAdd.shuffle()">add</i>
    </div> 
    <div class="panel">
        <button ng-disabled="$ctrl.CaseAdd.areFieldsMissing()" ng-click="$ctrl.saveCase()">Registrar</button>     
        <div class="panel-wrapper">
            <div class="head-data">
                <xinput label="Registrar nuevo caso" ng-model="$ctrl.CaseAdd.data.subject" placeholder="Título del caso"></xinput>
                <xtextarea ng-model="$ctrl.CaseAdd.data.description" placeholder="Escribe una descripción"></xtextarea>
            </div> 
            <form>     
                <div class="col"> 
                    <xselect label="Cliente:" options='$ctrl.options.client' ng-model="$ctrl.CaseAdd.data.client"></xselect>                   
                    <xselect label="Medio de registro:" options='$ctrl.options.registerMedium' ng-model="$ctrl.CaseAdd.data.registerMedium"></xselect> 
                    <xselect label="Tipo de Caso:" options='$ctrl.options.caseType' ng-model="$ctrl.CaseAdd.data.caseType"></xselect>                    
                </div>
                <div class="col">                      
                    <xselect filter="infoType('Pública')" disabled="$ctrl.CaseAdd.data.client == undefined" label="Activo:" options='$ctrl.options.assetRepository' ng-model="$ctrl.CaseAdd.data.asset"></xselect> 
                    <xselect label="Agente de amenaza:" options='$ctrl.options.agentThreat' ng-model="$ctrl.CaseAdd.data.agentThreat"></xselect> 
                    <xselect label="Responsable:" options='$ctrl.options.agent' ng-model="$ctrl.CaseAdd.data.responsable"></xselect>  
                </div>                  
            </form> 
        </div>   
    </div>
</div>