<div class="agent-item-list section-nav column">
    <xsearch ng-model="$ctrl.search"></xsearch>  
    <div class="agent-item-wrapper item-wrapper"> 
        <div class="refresh-btn tooltiped 
            {{($ctrl.data.length == 0)?'big':'small'}}"
            ng-click="$ctrl.loadData()"
            data-tooltip="Recargar"
            data-position="bottom">
            <i class="material-icons {{($ctrl.isLoading)?'loading':''}}">
                refresh</i>
        </div> 
        <div class="status-group">
            <agent-item
                ng-repeat="x in $ctrl.data | filter:$ctrl.search"
                data="x"
                orderBy="x.usr"
                current="$ctrl.current">
            </agent-item>
        </div> 
    </div>
</div>
