/* 1.1 Input
--------------------------------------------*/
/* 1.2 Button
--------------------------------------------*/
/* On Hover */
h1 {
  font-size: 60px;
  display: block;
  color: rgba(0, 0, 0, 0.87); }

h1 .bold, h1.bold {
  font-family: "Walfork";
  font-weight: 600; }

/* 1.1 Input
--------------------------------------------*/
/* 1.2 Button
--------------------------------------------*/
/* On Hover */
form {
  padding: 20px 0; }

.input-group {
  display: flex;
  align-content: center;
  align-items: center;
  padding: 7px 10px;
  position: relative; }

.textarea-group {
  display: flex;
  flex-direction: column;
  padding: 7px 10px;
  position: relative; }

textarea {
  resize: none;
  display: block;
  background: transparent;
  color: rgba(0, 0, 0, 0.87);
  font-family: "Walfork";
  outline: none;
  padding: 10px 10px;
  font-size: 20px;
  border: none;
  height: 60px; }

svg text {
  fill: rgba(0, 0, 0, 0.87); }

label {
  color: #1762C2;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: bold;
  display: inline-block;
  min-width: 150px; }

input {
  display: block;
  background: transparent;
  color: rgba(0, 0, 0, 0.87);
  width: 300px;
  min-width: 300px;
  font-family: "Walfork";
  outline: none;
  padding: 10px 10px;
  font-size: 13px;
  border: none;
  border-bottom: solid 1px rgba(0, 0, 0, 0.3); }
  input.big-input {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.87);
    text-align: center;
    letter-spacing: 1px;
    background: transparent;
    border: solid 1px #1762C2;
    padding: 20px 40px; }

.search-box {
  position: relative;
  width: 350px;
  height: 60px;
  padding-top: 10px;
  margin: 30px auto 0px auto; }
  .search-box input[type="search"] {
    text-align: left;
    padding: 15px 40px;
    font-size: 11px;
    letter-spacing: 1px;
    width: 220px;
    min-width: auto;
    margin: 0 10px 20px 10px !important;
    text-transform: uppercase;
    border: solid 1px #1762C2; }

button {
  display: block;
  width: 300px;
  min-width: 300px;
  font-family: "Walfork";
  font-size: 12px;
  color: white;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: #1762C2;
  border: solid 1px #1762C2;
  margin: 0;
  padding: 20px 40px;
  outline: none;
  cursor: pointer;
  border-radius: 2px;
  transition: 0.3s cubic-bezier(0, 0, 0.2, 1);
  position: relative; }
  button:disabled {
    border: none;
    cursor: default;
    background-color: rgba(0, 0, 0, 0.2);
    color: rgba(255, 255, 255, 0.8); }
    button:disabled:hover {
      border: none;
      cursor: default;
      background-color: rgba(0, 0, 0, 0.2);
      color: rgba(255, 255, 255, 0.8); }
  button:hover {
    background: #124b94;
    border: solid 1px #124b94; }

/****************************************************************************
 *
 * SELECT 
 */
/*the container must be positioned relative:*/
.x-select {
  position: relative;
  width: 300px;
  margin: 10px 0 0px 10px;
  border-bottom: solid 1px rgba(0, 0, 0, 0.3);
  /*style the items (options), including the selected item:*/
  /*style items (options):*/ }
  .x-select.disabled {
    border-bottom: dashed 1px rgba(0, 0, 0, 0.3); }
    .x-select.disabled .select-selected .bold {
      color: rgba(0, 0, 0, 0.25) !important; }
    .x-select.disabled .select-selected, .x-select.disabled i {
      color: rgba(0, 0, 0, 0.25) !important; }
  .x-select i.material-icons {
    position: absolute;
    padding: 9px 5px;
    color: #1762C2;
    display: block;
    font-size: 20px; }
  .x-select select {
    display: none;
    /*hide original SELECT element:*/ }
  .x-select .select-selected {
    letter-spacing: 1px;
    font-size: 10px;
    text-transform: uppercase;
    /*style the arrow inside the select element:*/
    /*point the arrow upwards when the select box is open (active):*/ }
    .x-select .select-selected span {
      display: inline-block !important;
      white-space: nowrap;
      overflow: hidden; }
      .x-select .select-selected span.value {
        max-width: 160px; }
    .x-select .select-selected .bold {
      font-weight: 600;
      margin-right: 5px;
      color: #1762C2; }
    .x-select .select-selected:before {
      content: "";
      padding-right: 10px;
      padding-left: 5px;
      font-weight: 600; }
    .x-select .select-selected:after {
      position: absolute;
      content: "";
      top: 15px;
      right: 15px;
      width: 0;
      height: 0;
      border: 4px solid transparent;
      border-color: rgba(0, 0, 0, 0.87) transparent transparent transparent; }
    .x-select .select-selected.select-arrow-active:after {
      border-color: transparent transparent rgba(0, 0, 0, 0.87) transparent;
      top: 9px; }
  .x-select .select-items div,
  .x-select .select-selected {
    color: rgba(0, 0, 0, 0.9);
    padding: 12px 16px;
    border: 1px solid transparent;
    cursor: pointer;
    user-select: none; }
  .x-select .select-items {
    position: absolute;
    background-color: #fff;
    border: solid 1px rgba(0, 0, 0, 0.24);
    top: -100%;
    left: 0;
    right: 0;
    z-index: 99;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
    overflow-x: auto;
    border-radius: 3px;
    font-size: 13px;
    max-height: 300px;
    transition: max-height 0.3s cubic-bezier(0, 0, 0.2, 1), top 0.3s cubic-bezier(0, 0, 0.2, 1), box-shadow 0.3s cubic-bezier(0, 0, 0.2, 1); }
    .x-select .select-items.select-hide {
      top: 0;
      max-height: 0px;
      box-shadow: none;
      border: none;
      transition: max-height 0.3s cubic-bezier(0, 0, 0.2, 1), top 0.3s cubic-bezier(0, 0, 0.2, 1), box-shadow 0.3s cubic-bezier(0, 0, 0.2, 1); }
    .x-select .select-items div.selected {
      font-weight: 600;
      background-color: rgba(0, 0, 0, 0.3); }
      .x-select .select-items div.selected:hover {
        background-color: rgba(0, 0, 0, 0.3); }
    .x-select .select-items div:hover {
      background-color: rgba(0, 0, 0, 0.1); }

.xpopup {
  display: flex;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(50, 50, 50, 0.7);
  z-index: 1000;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  align-content: center;
  transition: 0.3s; }
  .xpopup.hidden {
    z-index: -1;
    background: rgba(50, 50, 50, 0); }
    .xpopup.hidden .xpopup-body {
      margin-top: 100vh;
      transform: scale(0.5); }
  .xpopup .xpopup-body {
    transform: scale(1);
    margin-top: 0;
    width: 450px;
    height: 300px;
    background: white;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    text-align: center;
    padding: 70px 50px 50px 50px;
    position: relative;
    font-family: "Walfork";
    transition: 0.3s; }
  .xpopup .xpopup-message p {
    text-transform: uppercase;
    font-weight: bold; }
    .xpopup .xpopup-message p.datetime {
      font-weight: 100;
      font-size: 13px;
      position: absolute;
      top: 0;
      right: 0;
      color: #555;
      padding: 10px 15px; }
    .xpopup .xpopup-message p h1 {
      font-size: 70px;
      margin: 0;
      font-weight: 400; }
  .xpopup .xpopup-controlls button {
    border: none;
    font-size: 14px;
    background: none;
    font-family: "Walfork";
    position: absolute;
    bottom: 0;
    right: 0px;
    padding: 20px 40px;
    outline: none;
    color: #333;
    width: auto;
    min-width: auto; }
    .xpopup .xpopup-controlls button:hover {
      background: #eee;
      border: none;
      padding: 20px 40px; }

.is-vertical-centered {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  height: 100%; }

.logo {
  display: flex;
  align-content: center;
  align-items: center;
  margin: 40px 40px;
  color: rgba(0, 0, 0, 0.87); }
  .logo h1 {
    font-weight: 400;
    margin: 0; }
  .logo.small {
    flex-direction: row;
    margin: 40px 40px; }
    .logo.small .text {
      margin: 0 15px;
      font-size: 20px;
      line-height: 17px; }
  .logo.big {
    margin-top: 60px;
    flex-direction: column; }
    .logo.big img {
      width: 230px; }
    .logo.big .text {
      margin: 50px 0 0 0;
      font-size: 60px;
      line-height: 50px; }

.login-container {
  height: 100%;
  max-width: 900px;
  margin: 0 auto !important; }
  .login-container .login-wrapper {
    height: 100vh;
    min-height: 100vh;
    max-width: 1200px;
    margin: 0 auto !important; }
    .login-container .login-wrapper > .one-half.column {
      padding: 20px !important; }
  .login-container .title h1 {
    text-align: center; }
  .login-container form {
    margin-top: 30px; }

@media screen and (max-width: 600px) {
  img {
    width: 150px !important;
    margin-top: 30px; }

  .login-container .one-half.column {
    height: auto; }
    .login-container .one-half.column .title h1 {
      display: inline-block;
      font-size: 20px;
      letter-spacing: 2px; } }
/* 1.1 Input
--------------------------------------------*/
/* 1.2 Button
--------------------------------------------*/
/* On Hover */
.is-vertical-centered {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  height: 100%; }

.navpanel .item {
  width: 100%;
  padding: 15px 35px 15px 25px;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.1em;
  color: rgba(0, 0, 0, 0.5);
  border-left: solid 3px transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: 0.3s; }
  .navpanel .item.user-section {
    position: absolute;
    bottom: 30px; }
  .navpanel .item i.material-icons {
    font-size: 22px;
    margin-right: 20px; }
  .navpanel .item:hover {
    color: rgba(0, 0, 0, 0.8); }
  .navpanel .item.selected {
    font-weight: bold;
    color: #1762C2;
    border-left-color: #1762C2;
    background: linear-gradient(to right, #f2f2f2, transparent); }

.add-container {
  z-index: 1000;
  position: fixed; }
  .add-container .back {
    z-index: 1001;
    position: fixed;
    background-color: rgba(153, 153, 153, 0.6);
    opacity: 0;
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    transition: opacity 0.45s cubic-bezier(0, 0, 0.2, 1), height 0s linear 0.45s, width 0s linear 0.45s; }
  .add-container .button {
    position: fixed;
    z-index: 1003;
    width: 60px;
    height: 60px;
    transition: 0.45s cubic-bezier(0, 0, 0.2, 1);
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
    border-radius: 50%;
    background-color: #1762C2;
    color: white; }
    .add-container .button i.close {
      text-align: center;
      width: 58px;
      height: 58px;
      line-height: 58px;
      cursor: pointer;
      transition: transform 0.6s cubic-bezier(0, 0, 0.2, 1);
      transform: rotate(0deg); }
  .add-container .panel {
    border-radius: 3px;
    z-index: 1002;
    background: #fff;
    padding: 30px 30px;
    width: 700px;
    height: calc(100% - 40px);
    position: fixed;
    top: 100%;
    right: calc(50vw - 350px);
    transition: 0.45s cubic-bezier(0, 0, 0.2, 1);
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
    overflow-y: auto; }
  .add-container.opened .button {
    background: #fff;
    border-top: none;
    color: rgba(0, 0, 0, 0.87);
    box-shadow: none;
    bottom: calc(100vh - 90px);
    left: calc(50vw + 270px); }
  .add-container.opened .back {
    opacity: 1;
    width: 100%;
    height: 100%;
    transition: opacity 0.45s cubic-bezier(0, 0, 0.2, 1), height 0s cubic-bezier(0, 0, 0.2, 1), width 0s cubic-bezier(0, 0, 0.2, 1); }
  .add-container.opened .panel {
    top: 20px;
    transition: 0.45s cubic-bezier(0, 0, 0.2, 1); }
  .add-container.opened i.close {
    transform: rotate(-135deg); }

.add-container .panel .panel-wrapper {
  position: relative;
  height: 100%; }
.add-container .panel .head-data {
  padding: 10px 30px 0 30px; }
  .add-container .panel .head-data .input-group {
    display: flex;
    flex-direction: column;
    padding: 7px 10px 7px 10px;
    position: relative;
    align-items: flex-start;
    align-content: flex-start; }
  .add-container .panel .head-data input {
    display: block;
    background: transparent;
    color: rgba(0, 0, 0, 0.87);
    font-family: "Walfork";
    outline: none;
    padding: 10px 0 10px 10px;
    font-size: 60px;
    border: none;
    min-width: 100%;
    font-weight: 600;
    min-height: 30px; }
.add-container .panel form {
  display: flex;
  position: relative; }
.add-container .panel button {
  position: absolute;
  bottom: 0px;
  right: 20px; }

/* 1.1 Input
--------------------------------------------*/
/* 1.2 Button
--------------------------------------------*/
/* On Hover */
.edit-button {
  top: 40px;
  right: 50px;
  position: fixed;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  height: 39px;
  overflow: hidden;
  font-size: 12px;
  border-radius: 5px;
  transition: 0.3s;
  z-index: 50; }
  .edit-button .off, .edit-button .on {
    transition: margin 0.3s; }
  .edit-button.mode-on {
    max-width: 180px;
    border: solid 1px #1762C2;
    background-color: #1762C2;
    color: white; }
    .edit-button.mode-on .off {
      margin-top: -39px; }
    .edit-button.mode-on:hover {
      border: solid 1px #1762C2;
      background-color: darker(#1762C2, 5);
      color: white; }
  .edit-button.mode-off {
    max-width: 180px;
    border: solid 1px rgba(0, 0, 0, 0.87);
    background: #fff;
    color: rgba(0, 0, 0, 0.87); }
    .edit-button.mode-off:hover {
      border: solid 1px #1762C2;
      background: #fff;
      color: #1762C2; }
  .edit-button .on, .edit-button .off {
    display: flex;
    height: 39px;
    padding: 10px 30px;
    align-content: center;
    align-items: center; }
  .edit-button i {
    font-size: 14px; }
  .edit-button span {
    margin-left: 15px; }

.edit-panel .item {
  position: relative; }
  .edit-panel .item > i {
    margin-top: 5px;
    z-index: 2;
    position: absolute; }
.edit-panel .input-group {
  flex-direction: column;
  align-items: flex-start;
  align-content: flex-start;
  padding: 0;
  margin: 0;
  position: relative; }
.edit-panel label {
  color: rgba(0, 0, 0, 0.5);
  transition: 0.3s cubic-bezier(0, 0, 0.2, 1);
  margin-top: 30px; }
  .edit-panel label.disabled {
    opacity: 0;
    margin-top: 0; }
.edit-panel .x-select {
  margin-left: -40px;
  width: auto;
  border-bottom: none;
  /*style the items (options), including the selected item:*/ }
  .edit-panel .x-select.disabled {
    border-bottom: none; }
    .edit-panel .x-select.disabled .select-selected {
      background-color: transparent !important; }
      .edit-panel .x-select.disabled .select-selected:after {
        display: none; }
    .edit-panel .x-select.disabled .bold {
      color: rgba(0, 0, 0, 0.87) !important; }
  .edit-panel .x-select i.material-icons {
    display: none !important; }
  .edit-panel .x-select .select-selected {
    max-width: none;
    transition: background-color 0.3s cubic-bezier(0, 0, 0.2, 1);
    padding: 10px 100px !important;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.1) !important;
    display: flex;
    flex-direction: column; }
    .edit-panel .x-select .select-selected:before {
      display: none; }
    .edit-panel .x-select .select-selected:after {
      top: 31px;
      right: 25px; }
    .edit-panel .x-select .select-selected.select-arrow-active:after {
      top: 26px; }
    .edit-panel .x-select .select-selected span.bold {
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 12px !important;
      color: rgba(0, 0, 0, 0.87);
      max-width: none; }
    .edit-panel .x-select .select-selected span.value {
      max-width: none;
      letter-spacing: 0px;
      text-transform: none;
      font-size: 14px;
      font-weight: bold;
      color: rgba(0, 0, 0, 0.4); }
  .edit-panel .x-select .select-items div,
  .edit-panel .x-select .select-selected {
    color: rgba(0, 0, 0, 0.87);
    border: 1px solid transparent;
    cursor: pointer;
    user-select: none; }
.edit-panel textarea {
  font-family: "Walfork";
  font-style: italic;
  font-size: 15px;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 20px 40px;
  margin-left: -50px;
  max-width: 650px;
  width: 650px;
  border-radius: 5px; }
  .edit-panel textarea:disabled {
    background-color: transparent; }
.edit-panel input {
  border-bottom: none;
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.1);
  transition: 0.3s cubic-bezier(0, 0, 0.2, 1); }
  .edit-panel input:disabled {
    background-color: transparent;
    margin-bottom: 0 !important; }
  .edit-panel input.extra-big {
    margin-left: -40px;
    width: auto;
    max-width: 650px;
    padding: 20px 40px;
    font-size: 60px;
    display: block;
    color: rgba(0, 0, 0, 0.87);
    font-weight: bold;
    border-radius: 5px;
    margin-bottom: 30px; }
  .edit-panel input.like-select {
    padding: 30px 40px 12px 100px !important;
    margin-left: -40px;
    color: rgba(0, 0, 0, 0.4);
    font-weight: bold;
    max-width: none;
    width: 400px; }
.edit-panel label.like-select {
  top: 8px;
  left: 63px;
  margin-top: 0 !important;
  opacity: 1 !important;
  position: absolute;
  color: rgba(0, 0, 0, 0.87); }

i.material-icons:before {
  display: none; }

/* 1.1 Input
--------------------------------------------*/
/* 1.2 Button
--------------------------------------------*/
/* On Hover */
.is-vertical-centered {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  height: 100%; }

.case-item-wrapper {
  max-height: calc(100% - 153px); }
  .case-item-wrapper .item {
    border-left: 4px solid; }
    .case-item-wrapper .item .left {
      flex-direction: column; }
      .case-item-wrapper .item .left .data {
        font-size: 11px !important; }
  .case-item-wrapper .item.very-high-priority {
    border-left-color: #fc4343;
    background: rgba(252, 67, 67, 0.15); }
    .case-item-wrapper .item.very-high-priority:hover {
      background: rgba(252, 67, 67, 0.2); }
    .case-item-wrapper .item.very-high-priority:before {
      background: rgba(252, 67, 67, 0.4); }
  .case-item-wrapper .item.high-priority {
    border-left-color: #fd9839;
    background: rgba(253, 152, 57, 0.15); }
    .case-item-wrapper .item.high-priority:hover {
      background: rgba(253, 152, 57, 0.2); }
    .case-item-wrapper .item.high-priority:before {
      background: rgba(253, 152, 57, 0.4); }
  .case-item-wrapper .item.medium-priority {
    border-left-color: #ece24e;
    background: rgba(236, 226, 78, 0.15); }
    .case-item-wrapper .item.medium-priority:hover {
      background: rgba(236, 226, 78, 0.2); }
    .case-item-wrapper .item.medium-priority:before {
      background: rgba(236, 226, 78, 0.4); }
  .case-item-wrapper .item.low-priority {
    border-left-color: #50e08c;
    background: rgba(80, 224, 140, 0.15); }
    .case-item-wrapper .item.low-priority:hover {
      background: rgba(80, 224, 140, 0.2); }
    .case-item-wrapper .item.low-priority:before {
      background: rgba(80, 224, 140, 0.4); }
  .case-item-wrapper .item.non-priority {
    border-left-color: #a7a6a6;
    background: rgba(167, 166, 166, 0.15); }
    .case-item-wrapper .item.non-priority:hover {
      background: rgba(167, 166, 166, 0.2); }
    .case-item-wrapper .item.non-priority:before {
      background: rgba(167, 166, 166, 0.4); }

case-content {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden; }
  case-content .priority.priority-1 {
    color: #22c164 !important; }
  case-content .priority.priority-2 {
    color: #b2a813 !important; }
  case-content .priority.priority-3 {
    color: #e77102 !important; }
  case-content .priority.priority-4 {
    color: #ef0404 !important; }
  case-content .item-list .item .priority-1 {
    color: #22c164 !important; }
  case-content .item-list .item .priority-2 {
    color: #d2c617 !important; }
  case-content .item-list .item .priority-3 {
    color: #fd9839 !important; }
  case-content .item-list .item .priority-4 {
    color: #fc4343 !important; }

.case-add-container .button {
  left: 570px;
  bottom: 40px; }

.agent-item-wrapper .title {
  padding: 0 5px 0 0; }
.agent-item-wrapper .data {
  font-size: 13px; }

agent-content {
  width: 100%; }

.agent-add-container .button {
  left: 570px;
  bottom: 40px; }

.infrastructure-wrapper {
  display: flex;
  flex-direction: column;
  padding: 10px; }
  .infrastructure-wrapper .infrastructure {
    margin-top: 50px; }
  .infrastructure-wrapper .table-wrapper {
    display: flex;
    flex-wrap: wrap; }

table {
  border: solid 1px #ccc;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  margin: 20px 20px 0 0;
  font-size: 11px; }
  table caption {
    text-align: left;
    color: #1762C2;
    font-size: 16px;
    padding: 5px 30px;
    letter-spacing: 1px; }
  table th {
    text-transform: uppercase;
    letter-spacing: 1px; }
  table td, table th {
    padding: 5px 10px; }
  table tr:nth-child(even) td, table tr:nth-child(even) th {
    background: #f0f0f0; }
  table table {
    border: none;
    margin: 10px 0 0 0;
    box-shadow: none; }
    table table tr {
      border-bottom: none; }
    table table th, table table caption {
      text-align: left;
      color: rgba(0, 0, 0, 0.87); }

.section-container {
  overflow-x: hidden !important; }

.container .row {
  display: flex; }
.container .column {
  min-height: 100vh; }
  .container .column.dash-nav, .container .columndash-nav {
    width: 250px;
    overflow-x: hidden; }
  .container .column.dash-content, .container .columndash-content {
    overflow-x: none;
    width: calc(100% - 250px) !important; }
  .container .column.section-nav {
    width: 350px;
    overflow-x: hidden; }
  .container .column.section-content {
    overflow-x: hidden !important;
    padding: 50px 100px 60px 100px;
    position: relative; }

.item-wrapper {
  overflow-y: auto;
  overflow-x: hidden;
  padding-bottom: 40px;
  margin-top: 5px; }
  .item-wrapper .item {
    display: flex;
    padding: 15px 30px;
    font-size: 13px;
    justify-content: space-between;
    margin: 5px 30px 5px 10px;
    transition: 0.15s cubic-bezier(0, 0, 0.2, 1);
    position: relative;
    border-left: 4px solid #ccc;
    cursor: pointer; }
    .item-wrapper .item .left {
      z-index: 1;
      display: flex;
      color: rgba(0, 0, 0, 0.87); }
      .item-wrapper .item .left .title {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 170px;
        font-size: 13px;
        padding: 0;
        margin: 0;
        font-weight: bold;
        padding-right: 10px; }
      .item-wrapper .item .left .data {
        opacity: 0.6;
        font-size: 13px; }
    .item-wrapper .item .datetime {
      z-index: 1;
      color: rgba(0, 0, 0, 0.87);
      max-width: 58px;
      text-align: right;
      right: 0;
      top: 0;
      overflow: hidden;
      white-space: nowrap;
      font-size: 11.5px;
      opacity: 0.7; }
    .item-wrapper .item:before {
      content: "";
      display: block;
      position: absolute;
      width: 0%;
      height: 100%;
      transition: cubic-bezier(0, 0, 0.2, 1) 0.3s;
      top: 0;
      left: 0;
      z-index: 0; }
    .item-wrapper .item.selected {
      margin-left: -4px;
      background: rgba(0, 0, 0, 0.1); }
      .item-wrapper .item.selected:before {
        width: 100%; }
      .item-wrapper .item.selected .title {
        max-width: 180px; }

.container .section-content {
  position: relative;
  transition: cubic-bezier(0, 0, 0.2, 1) 0.3s;
  width: 100%;
  border-left: solid 1px rgba(0, 0, 0, 0.06); }
  .container .section-content.is-closed {
    background: rgba(0, 0, 0, 0.06); }
    .container .section-content.is-closed h1 {
      font-weight: bold;
      text-align: center;
      color: rgba(0, 0, 0, 0.15);
      margin-top: 200px; }
  .container .section-content .section-content-wrapper {
    color: rgba(0, 0, 0, 0.87);
    min-width: 100% !important;
    display: flex;
    flex-direction: column; }
    .container .section-content .section-content-wrapper .pre-data {
      color: #666;
      padding: 10px 50px 10px 0;
      display: block;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: 12px;
      font-weight: bold; }
    .container .section-content .section-content-wrapper h1 {
      font-weight: bold;
      margin-bottom: 40px; }
    .container .section-content .section-content-wrapper pre {
      font-family: "Walfork";
      white-space: pre-wrap;
      overflow: hidden;
      font-style: italic; }
    .container .section-content .section-content-wrapper .user-name, .container .section-content .section-content-wrapper .author {
      font-size: 25px;
      color: #868686;
      letter-spacing: 1px; }
    .container .section-content .section-content-wrapper .item-list {
      display: flex;
      flex-direction: column; }
      .container .section-content .section-content-wrapper .item-list .item {
        display: flex;
        align-content: center;
        align-items: center;
        padding: 5px 40px 0px 0; }
        .container .section-content .section-content-wrapper .item-list .item .data-wrapper {
          color: rgba(0, 0, 0, 0.87); }
          .container .section-content .section-content-wrapper .item-list .item .data-wrapper .field {
            text-transform: uppercase;
            letter-spacing: 1px;
            font-size: 12px;
            line-height: 14px;
            font-weight: bold;
            color: rgba(0, 0, 0, 0.87);
            margin-bottom: 5px; }
          .container .section-content .section-content-wrapper .item-list .item .data-wrapper .data {
            color: rgba(0, 0, 0, 0.4);
            font-size: 13px;
            line-height: 15px;
            font-weight: bold;
            display: inline-block; }
        .container .section-content .section-content-wrapper .item-list .item i {
          margin-right: 30px;
          color: #1762C2; }

* {
  margin: 0;
  padding: 0;
  font-family: "Walfork";
  font-synthesis: none;
  -moz-font-feature-settings: 'kern';
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  text-rendering: geometricPrecision !important;
  -webkit-font-smoothing: antialiased !important;
  box-sizing: border-box; }

::-webkit-scrollbar {
  width: 5px; }

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2); }

body,
html {
  min-height: 100vh; }

.container {
  min-height: 100vh;
  height: 100vh;
  overflow-y: auto;
  padding: 0;
  margin: 0;
  background-color: #fff;
  transition: cubic-bezier(0, 0, 0.2, 1); }
  .container .row, .container .columns, .container .column {
    min-height: 100%;
    height: 100%;
    overflow-y: auto;
    position: relative; }

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga'; }

/*# sourceMappingURL=default.css.map */
