/* 1.1 Input
--------------------------------------------*/
/* 1.2 Button
--------------------------------------------*/
/* On Hover */
.is-vertical-centered {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  height: 100%; }

.navpanel .item {
  width: 100%;
  padding: 15px 35px 15px 25px;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.1em;
  color: rgba(0, 0, 0, 0.5);
  border-left: solid 3px transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: 0.3s; }
  .navpanel .item.user-section {
    position: fixed;
    bottom: 30px;
    z-index: 9999;
    width: 250px; }
  .navpanel .item i.material-icons {
    font-size: 22px;
    margin-right: 20px; }
  .navpanel .item:hover {
    color: rgba(0, 0, 0, 0.8); }
  .navpanel .item.selected {
    font-weight: bold;
    color: #3949ab;
    border-left-color: #3949ab;
    background: linear-gradient(to right, #f2f2f2, transparent); }

.add-container {
  z-index: 1000;
  position: fixed; }
  .add-container .row {
    flex-wrap: wrap;
    height: 100%;
    overflow-y: visible !important; }
  .add-container .back {
    z-index: 1001;
    position: fixed;
    background-color: rgba(51, 51, 51, 0.8);
    opacity: 0;
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    transition: opacity 0.45s cubic-bezier(0, 0, 0.2, 1), height 0s linear 0.45s, width 0s linear 0.45s; }
  .add-container .button {
    position: fixed;
    z-index: 1003;
    width: 60px;
    height: 60px;
    transition: 0.45s cubic-bezier(0, 0, 0.2, 1);
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
    border-radius: 50%;
    background-color: #3949ab;
    color: white; }
    .add-container .button i.close {
      text-align: center;
      width: 58px;
      height: 58px;
      line-height: 58px;
      cursor: pointer;
      transition: transform 0.6s cubic-bezier(0, 0, 0.2, 1);
      transform: rotate(0deg); }
  .add-container .panel {
    border-radius: 3px;
    z-index: 1002;
    background: #fff;
    padding: 20px 15px;
    width: 700px;
    height: calc(100% - 40px);
    position: fixed;
    top: 100%;
    right: calc(50vw - 350px);
    transition: 0.45s cubic-bezier(0, 0, 0.2, 1);
    border: solid 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
    overflow-y: auto; }
  .add-container.opened .button {
    background: #fff;
    border-top: none;
    color: rgba(0, 0, 0, 0.87);
    box-shadow: none;
    bottom: calc(100vh - 90px);
    left: calc(50vw + 270px); }
    @media screen and (max-width: 600px) {
      .add-container.opened .button {
        left: auto !important;
        right: 3.33%;
        bottom: calc(100% - 160px); } }
  .add-container.opened .back {
    opacity: 1;
    width: 100%;
    height: 100%;
    transition: opacity 0.45s cubic-bezier(0, 0, 0.2, 1), height 0s cubic-bezier(0, 0, 0.2, 1), width 0s cubic-bezier(0, 0, 0.2, 1); }
  .add-container.opened .panel {
    top: 20px;
    transition: 0.45s cubic-bezier(0, 0, 0.2, 1); }
    @media screen and (max-width: 600px) {
      .add-container.opened .panel {
        height: calc(100% - 80px);
        top: 80px; } }
  .add-container.opened i.close {
    transform: rotate(135deg); }

.add-container .panel .panel-wrapper {
  position: relative;
  height: calc(100% - 70px);
  overflow-y: auto; }
  .add-container .panel .panel-wrapper .input-group input {
    padding: 10px 45px 17px 45px; }
  .add-container .panel .panel-wrapper .x-select {
    margin: 10px 19px 0px 10px; }
  .add-container .panel .panel-wrapper > .head-data input {
    padding: 10px 0 10px 10px !important; }
  .add-container .panel .panel-wrapper > .head-data label {
    padding-left: 0 !important; }
.add-container .panel .head-data {
  padding: 10px 30px 0 30px; }
  .add-container .panel .head-data .input-group {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: flex-start;
    align-content: flex-start; }
  .add-container .panel .head-data input {
    display: block;
    background: transparent;
    color: rgba(0, 0, 0, 0.87);
    font-family: "Walfork";
    outline: none;
    padding: 10px 0 10px 10px !important;
    font-size: 60px;
    border: none;
    min-width: 100%;
    font-weight: 600;
    min-height: 30px; }
.add-container .panel form {
  display: flex;
  flex-wrap: wrap;
  position: relative; }
  .add-container .panel form .head-data {
    flex-grow: 2;
    width: 100%; }
    .add-container .panel form .head-data input {
      font-size: 50px !important; }
    .add-container .panel form .head-data label {
      padding-left: 20px !important; }
.add-container .panel button {
  position: absolute;
  bottom: 20px;
  right: 20px; }

/* 1.1 Input
--------------------------------------------*/
/* 1.2 Button
--------------------------------------------*/
/* On Hover */
.back-btn {
  color: rgba(0, 0, 0, 0.87);
  padding: 42px 10px 0 0;
  position: absolute;
  top: 0;
  left: 80px;
  z-index: 1011;
  transition: 0.3s cubic-bezier(0, 0, 0.2, 1);
  display: none;
  align-items: center; }
  @media screen and (max-width: 600px) {
    .back-btn {
      display: flex; } }
  .back-btn i {
    font-size: 20px; }
  .back-btn span {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 15px;
    margin-left: 14px; }

.edit-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  background: linear-gradient(to bottom, #fff, rgba(255, 255, 255, 0.95), transparent);
  width: calc(100% - 600px);
  height: 55px;
  z-index: 1000;
  transition: 0.3s cubic-bezier(0, 0, 0.2, 1); }
  .edit-wrapper.is-closed {
    left: 100%; }
  .edit-wrapper.is-opened {
    left: 0; }
  @media screen and (max-width: 600px) {
    .edit-wrapper {
      height: 150px; } }
  @media screen and (max-width: 1050px) {
    .edit-wrapper {
      width: calc(100% - 350px); } }
  @media screen and (max-width: 600px) {
    .edit-wrapper {
      width: 100%; } }

.revert-edit-button, .edit-button {
  position: relative;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  float: right;
  padding: 18px 20px 20px 20px;
  transition: right 0.3s cubic-bezier(0, 0, 0.2, 1); }
  @media screen and (max-width: 600px) {
    .revert-edit-button, .edit-button {
      padding: 38px 20px 20px 20px; } }
  .revert-edit-button i, .edit-button i {
    font-size: 15px; }
    @media screen and (max-width: 600px) {
      .revert-edit-button i, .edit-button i {
        font-size: 20px; } }
  .revert-edit-button span, .edit-button span {
    margin-left: 16px; }
    @media screen and (max-width: 600px) {
      .revert-edit-button span, .edit-button span {
        display: none; } }
  .revert-edit-button .off, .revert-edit-button .on, .edit-button .off, .edit-button .on {
    display: flex;
    justify-content: center;
    padding: 0 20px;
    line-height: 40px;
    display: inline-block;
    transition: margin 0.3s cubic-bezier(0, 0, 0.2, 1), opacity 0.3s cubic-bezier(0, 0, 0.2, 1); }

.revert-edit-button {
  padding-left: 30px;
  color: rgba(0, 0, 0, 0.87);
  transition: opacity 0.3s cubic-bezier(0, 0, 0.2, 1);
  display: flex;
  top: 0px;
  right: 20px;
  z-index: 1000;
  position: fixed; }
  @media screen and (max-width: 600px) {
    .revert-edit-button {
      top: -3px; } }
  .revert-edit-button.mode-off {
    opacity: 0;
    z-index: 0; }
  .revert-edit-button.mode-on {
    opacity: 1; }
  .revert-edit-button span, .revert-edit-button i {
    line-height: 36px; }

.edit-button {
  border-radius: 40px;
  right: 0px; }
  .edit-button:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%; }
  .edit-button.mode-on {
    color: rgba(0, 0, 0, 0.87);
    right: 125px;
    border: none; }
    @media screen and (max-width: 600px) {
      .edit-button.mode-on {
        right: 70px; } }
    .edit-button.mode-on .off {
      display: none; }
    .edit-button.mode-on .on {
      display: block; }
  .edit-button.mode-off {
    color: rgba(0, 0, 0, 0.87); }
    .edit-button.mode-off:hover {
      color: rgba(0, 0, 0, 0.87); }
    .edit-button.mode-off .off {
      display: block; }
    .edit-button.mode-off .on {
      display: none; }

.edit-panel .item {
  position: relative; }
  .edit-panel .item > i {
    margin-top: 3px;
    z-index: 2;
    position: absolute; }
.edit-panel .input-group {
  flex-direction: column;
  align-items: flex-start;
  align-content: flex-start;
  padding: 0;
  margin: 0;
  position: relative; }
.edit-panel label {
  left: 15px !important;
  font-size: 12px !important;
  color: rgba(0, 0, 0, 0.5);
  transition: 0.3s cubic-bezier(0, 0, 0.2, 1);
  margin-top: 30px; }
  .edit-panel label.disabled {
    opacity: 0;
    margin-top: 0; }
.edit-panel .x-select {
  margin-left: -40px;
  width: auto;
  border-bottom: none;
  /*style the items (options), including the selected item:*/ }
  .edit-panel .x-select.disabled {
    border-bottom: none; }
    .edit-panel .x-select.disabled .select-selected {
      background-color: transparent !important; }
      .edit-panel .x-select.disabled .select-selected:after {
        display: none; }
    .edit-panel .x-select.disabled .bold {
      color: rgba(0, 0, 0, 0.87) !important; }
  .edit-panel .x-select i.material-icons {
    display: none !important; }
  .edit-panel .x-select .select-selected {
    max-width: none;
    transition: background-color 0.3s cubic-bezier(0, 0, 0.2, 1);
    padding: 10px 100px !important;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.08) !important;
    display: flex;
    flex-direction: column; }
    .edit-panel .x-select .select-selected:before {
      display: none; }
    .edit-panel .x-select .select-selected:after {
      top: 31px;
      right: 25px; }
    .edit-panel .x-select .select-selected.select-arrow-active:after {
      top: 26px; }
    .edit-panel .x-select .select-selected span.bold {
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 12px !important;
      color: rgba(0, 0, 0, 0.87);
      max-width: none; }
    .edit-panel .x-select .select-selected span.value {
      max-width: none;
      letter-spacing: 0px;
      text-transform: none;
      font-size: 14px;
      font-weight: bold;
      color: rgba(0, 0, 0, 0.4); }
  .edit-panel .x-select .select-items div,
  .edit-panel .x-select .select-selected {
    color: rgba(0, 0, 0, 0.87);
    border: 1px solid transparent;
    cursor: pointer;
    user-select: none; }
.edit-panel textarea {
  font-family: "Walfork";
  font-style: italic;
  font-size: 18px;
  background-color: rgba(0, 0, 0, 0.08);
  padding: 20px 40px;
  margin-left: -50px;
  max-width: 650px;
  width: 650px;
  border-radius: 5px; }
  .edit-panel textarea:disabled {
    background-color: transparent; }
.edit-panel input {
  border-bottom: none;
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.08);
  transition: 0.3s cubic-bezier(0, 0, 0.2, 1); }
  .edit-panel input:disabled {
    background-color: transparent;
    margin-bottom: 0 !important; }
  .edit-panel input.extra-big {
    margin-left: -40px;
    width: auto;
    max-width: 650px;
    padding: 20px 40px;
    font-size: 60px;
    display: block;
    color: rgba(0, 0, 0, 0.87);
    font-weight: bold;
    border-radius: 5px; }
  .edit-panel input.like-select {
    padding: 35px 40px 12px 100px !important;
    margin-left: -40px;
    margin-top: 10px;
    color: rgba(0, 0, 0, 0.4);
    font-weight: bold;
    max-width: none;
    width: 400px; }
.edit-panel label.like-select {
  top: 24px;
  left: 63px;
  margin-top: 0 !important;
  opacity: 1 !important;
  position: absolute;
  color: rgba(0, 0, 0, 0.87); }

/* 1.1 Input
--------------------------------------------*/
/* 1.2 Button
--------------------------------------------*/
/* On Hover */
.is-vertical-centered {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  height: 100%; }

.case-item-wrapper {
  max-height: calc(100% - 140px);
  min-height: calc(100% - 140px); }
  .case-item-wrapper case-item .item {
    transition: 0.3s cubic-bezier(0, 0, 0.2, 1);
    overflow: hidden; }
  .case-item-wrapper case-item.hidden .item {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    max-height: 0;
    opacity: 0; }
  .case-item-wrapper case-item.visible .item {
    max-height: 500px;
    opacity: 1; }
  .case-item-wrapper .item {
    border-left: 4px solid;
    padding: 15px 30px !important; }
    .case-item-wrapper .item.selected {
      background-color: #fff !important; }
    .case-item-wrapper .item .left {
      flex-direction: column; }
      .case-item-wrapper .item .left .title {
        color: rgba(0, 0, 0, 0.7); }
      .case-item-wrapper .item .left .data {
        font-size: 11px !important; }
  .case-item-wrapper .item.very-high-priority {
    border-left-color: #fc4343;
    background: rgba(252, 67, 67, 0.15); }
    .case-item-wrapper .item.very-high-priority:hover {
      background: rgba(252, 67, 67, 0.2); }
    .case-item-wrapper .item.very-high-priority:before {
      background: rgba(252, 67, 67, 0.5); }
  .case-item-wrapper .item.high-priority {
    border-left-color: #e53935;
    background: rgba(229, 57, 53, 0.15); }
    .case-item-wrapper .item.high-priority:hover {
      background: rgba(229, 57, 53, 0.2); }
    .case-item-wrapper .item.high-priority:before {
      background: rgba(229, 57, 53, 0.5); }
  .case-item-wrapper .item.medium-priority {
    border-left-color: #ece24e;
    background: rgba(236, 226, 78, 0.15); }
    .case-item-wrapper .item.medium-priority:hover {
      background: rgba(236, 226, 78, 0.2); }
    .case-item-wrapper .item.medium-priority:before {
      background: rgba(236, 226, 78, 0.5); }
  .case-item-wrapper .item.low-priority {
    border-left-color: #50e08c;
    background: rgba(80, 224, 140, 0.15); }
    .case-item-wrapper .item.low-priority:hover {
      background: rgba(80, 224, 140, 0.2); }
    .case-item-wrapper .item.low-priority:before {
      background: rgba(80, 224, 140, 0.5); }
  .case-item-wrapper .item.non-priority {
    border-left-color: #a7a6a6;
    background: rgba(167, 166, 166, 0.15); }
    .case-item-wrapper .item.non-priority:hover {
      background: rgba(167, 166, 166, 0.2); }
    .case-item-wrapper .item.non-priority:before {
      background: rgba(167, 166, 166, 0.5); }

.case-item-list .x-select {
  margin-top: 5px;
  height: 47px; }
  .case-item-list .x-select i {
    top: 0; }
  .case-item-list .x-select .select-selected span {
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 10px; }

case-content {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden; }
  case-content .priority.priority-1 {
    color: #22c164 !important; }
  case-content .priority.priority-2 {
    color: #b2a813 !important; }
  case-content .priority.priority-3 {
    color: #b61b17 !important; }
  case-content .priority.priority-4 {
    color: #ef0404 !important; }
  case-content .item-list .item .priority-1 {
    color: #22c164 !important; }
  case-content .item-list .item .priority-2 {
    color: #d2c617 !important; }
  case-content .item-list .item .priority-3 {
    color: #e53935 !important; }
  case-content .item-list .item .priority-4 {
    color: #fc4343 !important; }

.agent-item-wrapper .title {
  padding: 0 5px 0 0; }
.agent-item-wrapper .data {
  font-size: 13px; }

agent-content {
  width: 100%; }

.infrastructure-wrapper {
  display: flex;
  flex-direction: column;
  padding: 10px; }
  .infrastructure-wrapper .infrastructure {
    margin-bottom: 50px; }
  .infrastructure-wrapper .table-wrapper {
    display: flex;
    flex-wrap: wrap; }

.report-panel {
  padding: 50px 80px; }
  @media screen and (max-width: 600px) {
    .report-panel {
      padding: 70px 10px; } }
  .report-panel .x-select {
    margin-left: -20px; }

.chart-item-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 30px 0px 50px 0px;
  width: calc(100% + 200px); }
  .chart-item-wrapper .line-chart-item {
    width: calc(100% - 250px); }
  .chart-item-wrapper .radar-chart-item {
    width: calc(100% - 100px);
    margin: 0 0 0 -100px; }

table {
  border: solid 1px #ccc;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  margin: 20px 20px 0 0;
  font-size: 11px; }
  table caption {
    text-align: left;
    color: #3949ab;
    font-size: 16px;
    padding: 5px 30px;
    letter-spacing: 1px; }
  table th {
    text-transform: uppercase;
    letter-spacing: 1px; }
  table td, table th {
    padding: 5px 10px; }
  table tr:nth-child(even) td, table tr:nth-child(even) th {
    background: #f0f0f0; }
  table table {
    border: none;
    margin: 10px 0 0 0;
    box-shadow: none; }
    table table tr {
      border-bottom: none; }
    table table th, table table caption {
      text-align: left;
      color: rgba(0, 0, 0, 0.87); }

.newdata-add-container .panel-wrapper {
  height: calc(100% - 150px) !important; }
.newdata-add-container .edit-panel .x-select {
  margin-left: 0px;
  width: 350px; }
  .newdata-add-container .edit-panel .x-select .select-selected {
    background: transparent !important;
    padding: 10px 50px !important; }

.newdata-container
newdata-content, .newdata-content {
  width: calc(100% - 350px) !important;
  height: 100vh !important;
  overflow-y: auto; }

newdata-item-wrapper, .newdata-item-wrapper {
  height: calc(100vh - 210px); }

.subsection-switcher {
  width: 320px; }
  @media screen and (max-width: 600px) {
    .subsection-switcher {
      width: 100%; } }

h5 {
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #3949ab;
  font-weight: bold;
  padding-top: 30px;
  text-align: center;
  width: 100%;
  margin: 0; }

.search-box {
  margin-top: 20px; }

.tabs {
  width: 320px;
  margin: 15px 0 0 0;
  height: 55px;
  display: flex;
  position: relative;
  justify-content: flex-start;
  transition: 0.3s cubic-bezier(0, 0, 0.2, 1);
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
  overflow: hidden; }
  @media screen and (max-width: 600px) {
    .tabs {
      width: 100%; } }
  .tabs:after {
    z-index: 0;
    content: "";
    position: absolute;
    width: 33.33%;
    height: calc(55px - 3px);
    transition: 0.3s cubic-bezier(0, 0, 0.2, 1);
    border-bottom: solid 4px #3949ab; }
  .tabs[tab-selected="0"]:after {
    left: 0px; }
  .tabs[tab-selected="1"]:after {
    left: 33.33%; }
  .tabs[tab-selected="2"]:after {
    left: 66.66%; }
  .tabs .tab {
    width: 33.33%;
    padding: 0 20px 0 20px;
    height: 100%;
    cursor: pointer;
    font-size: 12px;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
    color: rgba(0, 0, 0, 0.4);
    transition: 0.3s cubic-bezier(0, 0, 0.2, 1);
    position: relative;
    z-index: 2; }
    .tabs .tab:hover {
      color: #3949ab;
      background: rgba(0, 0, 0, 0.08); }
    .tabs .tab i {
      font-size: 20px;
      margin-right: 15px;
      margin-left: 25px;
      position: relative; }
    .tabs .tab span {
      font-size: 11px;
      text-transform: uppercase;
      letter-spacing: 1px;
      position: relative;
      display: none; }
    .tabs .tab.selected {
      color: #3949ab;
      font-weight: bold; }

.section-container {
  overflow-x: hidden !important; }

.container .row {
  display: flex; }
.container .column {
  min-height: 100vh; }
  .container .column.dash-nav, .container .columndash-nav {
    width: 250px;
    overflow-x: hidden;
    background: #fff;
    transition: 0.3s cubic-bezier(0, 0, 0.2, 1); }
    @media screen and (max-width: 1050px) {
      .container .column.dash-nav, .container .columndash-nav {
        position: fixed;
        z-index: 9000;
        box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22); }
        .container .column.dash-nav .logo, .container .columndash-nav .logo {
          margin: 40px 40px 40px 70px !important; } }
  .container .column.dash-content, .container .columndash-content {
    overflow-x: none;
    width: calc(100% - 250px) !important; }
    @media screen and (max-width: 1050px) {
      .container .column.dash-content, .container .columndash-content {
        width: 100vw !important; } }
  .container .column.section-nav {
    width: 350px;
    overflow-x: hidden; }
    @media screen and (max-width: 600px) {
      .container .column.section-nav {
        width: 100vw !important; } }
  .container .column.section-content {
    overflow-x: hidden !important;
    padding: 100px 100px 60px 100px;
    position: relative; }
    @media screen and (max-width: 1050px) {
      .container .column.section-content {
        padding: 100px 80px 60px 80px; } }
    @media screen and (max-width: 600px) {
      .container .column.section-content {
        width: 100vw !important; } }

.add-container .button {
  left: 535px;
  bottom: 50px; }
  @media screen and (max-width: 600px) {
    .add-container .button {
      left: auto;
      right: 3.33%;
      bottom: 3.33%; } }

.status-group {
  width: 320px;
  margin: 0;
  padding: 0;
  position: relative; }
  @media screen and (max-width: 600px) {
    .status-group {
      width: calc(100% - 10px); } }

.status-group-name {
  background-color: #fff;
  top: 0px;
  z-index: 10;
  position: -webkit-sticky;
  position: sticky;
  font-weight: bold;
  padding: 10px 20px 10px 20px;
  color: rgba(0, 0, 0, 0.8);
  font-size: 15px;
  letter-spacing: 0.3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer; }
  .status-group-name:hover {
    color: #3949ab; }
  .status-group-name i {
    float: right;
    margin-right: 15px;
    transition: 0.3s cubic-bezier(0, 0, 0.2, 1); }
    .status-group-name i.hidden {
      transform: rotate(180deg); }

.item-wrapper {
  overflow-y: scroll;
  overflow-x: hidden;
  padding-bottom: 40px;
  margin-top: 5px;
  transition: all 0.3s; }
  .item-wrapper .refresh-btn {
    cursor: pointer;
    width: 320px;
    display: flex;
    justify-content: center;
    align-content: center;
    position: relative; }
    @media screen and (max-width: 600px) {
      .item-wrapper .refresh-btn {
        width: 100%; } }
    .item-wrapper .refresh-btn i {
      color: rgba(0, 0, 0, 0.3);
      text-align: center;
      transition: 0.3s cubic-bezier(0, 0, 0.2, 1); }
@keyframes rotating {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
    .item-wrapper .refresh-btn .loading {
      animation: rotating 1s infinite; }
    .item-wrapper .refresh-btn.big i {
      font-size: 100px;
      width: 200px;
      height: 200px;
      line-height: 200px; }
    .item-wrapper .refresh-btn.small i {
      font-size: 25px;
      width: 40px;
      height: 40px;
      line-height: 40px; }
    .item-wrapper .refresh-btn:hover i {
      color: #3949ab; }
  .item-wrapper .item {
    display: flex;
    padding: 20px 30px;
    font-size: 13px;
    justify-content: space-between;
    margin: 5px 0px 5px 10px;
    transition: 0.15s cubic-bezier(0, 0, 0.2, 1);
    position: relative;
    border-left: 4px solid rgba(0, 0, 0, 0.25);
    background: rgba(0, 0, 0, 0.08);
    cursor: pointer; }
    .item-wrapper .item .left {
      z-index: 1;
      display: flex;
      color: rgba(0, 0, 0, 0.87); }
      .item-wrapper .item .left .title {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 170px;
        font-size: 13px;
        padding: 0;
        margin: 0;
        font-weight: bold;
        padding-right: 10px; }
      .item-wrapper .item .left .data {
        opacity: 0.6;
        font-size: 13px; }
    .item-wrapper .item .right {
      text-align: right;
      display: flex;
      flex-direction: column;
      align-items: flex-end; }
      .item-wrapper .item .right .status {
        margin-right: -5px;
        border-radius: 2px;
        color: rgba(0, 0, 0, 0.7);
        font-size: 9px;
        letter-spacing: 1px;
        padding: 1px 5px;
        z-index: 1;
        border: solid 1px rgba(0, 0, 0, 0.3); }
      .item-wrapper .item .right .datetime {
        z-index: 1;
        color: rgba(0, 0, 0, 0.87);
        font-size: 11.5px;
        opacity: 0.7; }
    .item-wrapper .item:before {
      content: "";
      display: block;
      position: absolute;
      width: 0%;
      height: 100%;
      transition: cubic-bezier(0, 0, 0.2, 1) 0.3s;
      top: 0;
      left: 0;
      z-index: 0; }
    .item-wrapper .item.selected {
      margin-left: -4px;
      background: rgba(0, 0, 0, 0.16); }
      .item-wrapper .item.selected:before {
        width: 100%; }
      .item-wrapper .item.selected .title {
        max-width: 180px; }

.container .section-content {
  position: relative;
  transition: cubic-bezier(0, 0, 0.2, 1) 0.3s;
  width: 100%; }
  .container .section-content.is-closed {
    background: #fff;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center; }
    .container .section-content.is-closed h1 {
      font-weight: bold;
      text-align: center;
      color: rgba(0, 0, 0, 0.15);
      max-width: 500px; }
  .container .section-content .section-content-wrapper {
    color: rgba(0, 0, 0, 0.87);
    min-width: 100% !important;
    display: flex;
    flex-direction: column; }
    .container .section-content .section-content-wrapper .pre-data {
      color: #666;
      padding: 10px 50px 10px 0;
      display: block;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: 12px;
      font-weight: bold; }
    .container .section-content .section-content-wrapper h1 {
      font-weight: bold;
      margin-bottom: 40px; }
    .container .section-content .section-content-wrapper pre {
      font-family: "Walfork";
      white-space: pre-wrap;
      overflow: hidden;
      font-style: italic; }
    .container .section-content .section-content-wrapper .user-name span, .container .section-content .section-content-wrapper .author span {
      font-size: 25px;
      color: rgba(0, 0, 0, 0.5);
      letter-spacing: 1px;
      font-weight: bold; }
    .container .section-content .section-content-wrapper .user-name b, .container .section-content .section-content-wrapper .author b {
      font-size: 15px;
      color: rgba(0, 0, 0, 0.25); }
    .container .section-content .section-content-wrapper .item-list {
      display: flex;
      flex-direction: column; }
      .container .section-content .section-content-wrapper .item-list .item {
        display: flex;
        align-content: center;
        align-items: center;
        padding: 5px 40px 0px 0; }
        .container .section-content .section-content-wrapper .item-list .item .data-wrapper {
          color: rgba(0, 0, 0, 0.87); }
          .container .section-content .section-content-wrapper .item-list .item .data-wrapper .field {
            text-transform: uppercase;
            letter-spacing: 1px;
            font-size: 12px;
            line-height: 14px;
            font-weight: bold;
            color: rgba(0, 0, 0, 0.87);
            margin-bottom: 5px; }
          .container .section-content .section-content-wrapper .item-list .item .data-wrapper .data {
            color: rgba(0, 0, 0, 0.4);
            font-size: 13px;
            line-height: 15px;
            font-weight: bold;
            display: inline-block; }
        .container .section-content .section-content-wrapper .item-list .item i {
          margin-right: 30px;
          color: #3949ab; }

/*# sourceMappingURL=dashboard.css.map */
