/********************************************************
 * Dark theme
 */
/********************************************************
 * Clear theme
 */
/********************************************************
 * Purple theme
 */
/********************************************************
 * Priority colors
 */
/* 1.1 Input
--------------------------------------------*/
/* 1.2 Button
--------------------------------------------*/
/* On Hover */
.is-vertical-centered {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  height: 100%; }

.navpanel .item {
  width: 100%;
  padding: 15px 35px 15px 25px;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.1em;
  color: rgba(255, 255, 255, 0.5);
  border-left: solid 3px transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: 0.3s; }
  .navpanel .item.user-section {
    position: fixed;
    bottom: 30px;
    width: 250px; }
  .navpanel .item i.material-icons {
    font-size: 22px;
    margin-right: 20px; }
  .navpanel .item:hover {
    color: rgba(255, 255, 255, 0.8); }
  .navpanel .item.selected {
    font-weight: bold;
    color: #fff;
    border-left-color: #fff; }

/********************************************************
 * Dark theme
 */
/********************************************************
 * Clear theme
 */
/********************************************************
 * Purple theme
 */
/********************************************************
 * Priority colors
 */
/* 1.1 Input
--------------------------------------------*/
/* 1.2 Button
--------------------------------------------*/
/* On Hover */
.back-btn {
  color: rgba(17, 17, 17, 0.87);
  padding: 42px 10px 0 0;
  position: absolute;
  top: 0;
  left: 30px;
  z-index: 1011;
  transition: 0.3s cubic-bezier(0, 0, 0.2, 1);
  display: none;
  align-items: center; }
  @media screen and (max-width: 600px) {
    .back-btn {
      display: flex; } }
  .back-btn i {
    font-size: 20px; }
  .back-btn span {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 15px;
    margin-left: 14px; }

button.change-status {
  align-items: center;
  display: flex;
  position: fixed;
  right: 3.33%;
  bottom: 35px;
  background-color: #fff;
  color: white;
  border: none;
  z-index: 999;
  width: auto;
  min-width: auto;
  border-radius: 100px;
  font-weight: bold;
  padding: 12px 25px 12px 40px;
  transition: 0.3s cubic-bezier(0, 0, 0.2, 1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  opacity: 1; }
  button.change-status:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }
  button.change-status i {
    margin-left: 15px; }
  button.change-status.hidden {
    transform: translateY(100px); }
  button.change-status.visible {
    transform: translateY(0); }

.toolbar-wrapper {
  position: fixed;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: flex-end;
  padding-right: 20px;
  top: 0;
  right: 0;
  overflow: hidden;
  width: calc(100% - 600px);
  height: 80px;
  z-index: 1000;
  transition: 0.3s; }
  @media screen and (max-width: 1050px) {
    .toolbar-wrapper {
      width: calc(100% - 350px); } }
  @media screen and (max-width: 600px) {
    .toolbar-wrapper {
      height: 100px;
      padding-right: 0;
      width: 100%; } }
  .toolbar-wrapper button {
    background-color: #fff;
    padding: 11px 15px;
    margin: 10px 5px;
    color: rgba(17, 17, 17, 0.87);
    border: none;
    min-width: auto;
    width: auto;
    max-width: none;
    display: flex;
    align-items: center;
    transition: 0.3s cubic-bezier(0, 0, 0.2, 1); }
    .toolbar-wrapper button:disabled {
      opacity: 0.2; }
      .toolbar-wrapper button:disabled:hover {
        background-color: #fff;
        color: rgba(17, 17, 17, 0.87); }
    @media screen and (max-width: 600px) {
      .toolbar-wrapper button span {
        display: none; }
      .toolbar-wrapper button i {
        font-size: 20px !important; } }
    .toolbar-wrapper button:hover {
      color: #7A1326; }
    .toolbar-wrapper button i {
      font-size: 15px; }
    .toolbar-wrapper button span {
      margin-left: 20px;
      font-size: 13px;
      font-weight: bold; }

.edit-panel {
  padding-bottom: 100px; }
  .edit-panel .group-text {
    padding: 20px 60px;
    max-width: none; }
    .edit-panel .group-text .label {
      font-weight: bold;
      text-transform: uppercase;
      font-size: 12px;
      letter-spacing: 1px; }
    .edit-panel .group-text .text {
      letter-spacing: 0px;
      text-transform: none;
      font-size: 14px;
      font-weight: bold;
      color: rgba(17, 17, 17, 0.4); }
  .edit-panel .item {
    position: relative; }
    .edit-panel .item > i {
      top: 35px;
      z-index: 2;
      position: absolute; }
    .edit-panel .item .x-select i.material-icons {
      display: none !important; }
  .edit-panel .input-group {
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start;
    padding: 0;
    margin: 0;
    position: relative;
    z-index: 0; }
  .edit-panel label {
    left: 15px !important;
    font-size: 12px !important;
    color: rgba(17, 17, 17, 0.5);
    transition: 0.3s cubic-bezier(0, 0, 0.2, 1);
    margin-top: 30px; }
    .edit-panel label.disabled {
      opacity: 0;
      margin-top: 0; }
  .edit-panel .x-select {
    margin-left: -40px;
    width: auto;
    border-bottom: none;
    /*style the items (options), including the selected item:*/ }
    .edit-panel .x-select.disabled {
      border-bottom: none; }
      .edit-panel .x-select.disabled .select-selected {
        background-color: transparent !important; }
        .edit-panel .x-select.disabled .select-selected:after {
          display: none; }
      .edit-panel .x-select.disabled .bold {
        color: rgba(17, 17, 17, 0.87) !important; }
    .edit-panel .x-select .select-selected {
      max-width: none;
      transition: background-color 0.3s cubic-bezier(0, 0, 0.2, 1);
      padding: 10px 100px !important;
      border-radius: 3px;
      background-color: rgba(17, 17, 17, 0.08) !important;
      display: flex;
      flex-direction: column; }
      .edit-panel .x-select .select-selected:before {
        display: none; }
      .edit-panel .x-select .select-selected:after {
        top: 31px;
        right: 25px; }
      .edit-panel .x-select .select-selected.select-arrow-active:after {
        top: 26px; }
      .edit-panel .x-select .select-selected span.bold {
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 12px !important;
        color: rgba(17, 17, 17, 0.87);
        max-width: none; }
      .edit-panel .x-select .select-selected span.value {
        max-width: none;
        letter-spacing: 0px;
        text-transform: none;
        font-size: 14px;
        font-weight: bold;
        color: rgba(17, 17, 17, 0.4); }
    .edit-panel .x-select .select-items div,
    .edit-panel .x-select .select-selected {
      color: rgba(17, 17, 17, 0.87);
      border: 1px solid transparent;
      cursor: pointer;
      user-select: none; }
  .edit-panel textarea {
    font-family: "Walfork";
    font-style: italic;
    font-size: 18px;
    background-color: rgba(17, 17, 17, 0.08);
    padding: 20px 40px;
    margin-left: -50px;
    max-width: 650px;
    width: 650px;
    border-radius: 5px; }
    .edit-panel textarea:disabled {
      background-color: transparent; }
  .edit-panel input {
    border-bottom: none;
    border-radius: 2px;
    background-color: rgba(17, 17, 17, 0.08);
    transition: 0.3s cubic-bezier(0, 0, 0.2, 1); }
    .edit-panel input:disabled {
      background-color: transparent;
      margin-bottom: 0 !important; }
    .edit-panel input.extra-big {
      margin-left: -40px;
      width: auto;
      max-width: 650px;
      padding: 20px 40px;
      font-size: 60px;
      display: block;
      color: rgba(17, 17, 17, 0.87);
      font-weight: bold;
      border-radius: 5px; }
    .edit-panel input.like-select {
      padding: 35px 40px 12px 100px !important;
      margin-left: -40px;
      margin-top: 10px;
      color: rgba(17, 17, 17, 0.4);
      font-weight: bold;
      max-width: none;
      width: 400px; }
  .edit-panel label.like-select {
    top: 14px !important;
    left: 63px !important;
    margin-top: 0 !important;
    opacity: 1 !important;
    position: absolute;
    z-index: -1;
    color: rgba(17, 17, 17, 0.87); }

/********************************************************
 * Dark theme
 */
/********************************************************
 * Clear theme
 */
/********************************************************
 * Purple theme
 */
/********************************************************
 * Priority colors
 */
/* 1.1 Input
--------------------------------------------*/
/* 1.2 Button
--------------------------------------------*/
/* On Hover */
.is-vertical-centered {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  height: 100%; }

.case-item-wrapper {
  max-height: calc(100% - 140px);
  min-height: calc(100% - 140px); }
  .case-item-wrapper .item .left .title {
    color: rgba(17, 17, 17, 0.7); }
  .case-item-wrapper .item .left .data {
    font-size: 11px !important; }
  .case-item-wrapper .item.very-high-priority {
    background: rgba(241, 113, 111, 0.3); }
    .case-item-wrapper .item.very-high-priority:hover {
      background: rgba(241, 113, 111, 0.35); }
    .case-item-wrapper .item.very-high-priority:before {
      background: #f1716f; }
  .case-item-wrapper .item.high-priority {
    background: rgba(255, 183, 77, 0.3); }
    .case-item-wrapper .item.high-priority:hover {
      background: rgba(255, 183, 77, 0.35); }
    .case-item-wrapper .item.high-priority:before {
      background: #ffb74d; }
  .case-item-wrapper .item.medium-priority {
    background: rgba(236, 226, 78, 0.3); }
    .case-item-wrapper .item.medium-priority:hover {
      background: rgba(236, 226, 78, 0.35); }
    .case-item-wrapper .item.medium-priority:before {
      background: #ece24e; }
  .case-item-wrapper .item.low-priority {
    background: rgba(80, 224, 140, 0.3); }
    .case-item-wrapper .item.low-priority:hover {
      background: rgba(80, 224, 140, 0.35); }
    .case-item-wrapper .item.low-priority:before {
      background: #50e08c; }
  .case-item-wrapper .item.non-priority {
    background: rgba(167, 166, 166, 0.3); }
    .case-item-wrapper .item.non-priority:hover {
      background: rgba(167, 166, 166, 0.35); }
    .case-item-wrapper .item.non-priority:before {
      background: #a7a6a6; }

button.priority-1 {
  background-color: #22c164; }
button.priority-2 {
  color: #222;
  background-color: #e7da20 !important; }
button.priority-3 {
  background-color: #ff9801 !important; }
button.priority-4 {
  background-color: #ea2c29 !important; }

.case-item-list .x-select {
  margin-top: 20px;
  height: 47px; }
  .case-item-list .x-select i {
    left: 10px;
    top: 0; }
  .case-item-list .x-select .select-selected {
    padding-left: 55px; }
    .case-item-list .x-select .select-selected span {
      display: inline-block;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 10px; }

case-content {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden; }
  case-content .priority.priority-1 {
    color: #22c164 !important; }
  case-content .priority.priority-2 {
    color: #b2a813 !important; }
  case-content .priority.priority-3 {
    color: #ff9801 !important; }
  case-content .priority.priority-4 {
    color: #ea2c29 !important; }
  case-content .item-list .item .priority-1 {
    color: #22c164 !important; }
  case-content .item-list .item .priority-2 {
    color: #d2c617 !important; }
  case-content .item-list .item .priority-3 {
    color: #ffb74d !important; }
  case-content .item-list .item .priority-4 {
    color: #f1716f !important; }

.to-solve-panel {
  position: fixed;
  z-index: 15000 !important; }
  .to-solve-panel .row {
    flex-direction: column; }
  .to-solve-panel .panel-wrapper {
    overflow-x: hidden;
    padding-top: 0 !important; }
  .to-solve-panel .close-btn {
    position: absolute;
    right: 0;
    top: 0;
    padding: 20px;
    cursor: pointer;
    z-index: 100; }
  .to-solve-panel h1 {
    margin: 40px 0 0 20px !important;
    font-size: 40px; }
    @media screen and (max-width: 600px) {
      .to-solve-panel h1 {
        font-size: 30px; } }
  .to-solve-panel textarea {
    margin-left: 0;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    min-width: 100%;
    width: 100%;
    max-width: none;
    min-height: 230px; }
    @media screen and (max-width: 600px) {
      .to-solve-panel textarea {
        margin-left: 0 !important;
        font-size: 18px !important;
        max-width: auto !important;
        padding: 20px !important;
        min-height: 130px; } }
  .to-solve-panel .x-select {
    max-width: none;
    width: 400px !important;
    min-width: auto; }
    .to-solve-panel .x-select .select-selected {
      padding: 10px 30px !important; }
      @media screen and (max-width: 600px) {
        .to-solve-panel .x-select .select-selected {
          padding: 10px 30px !important; } }
  @media screen and (max-width: 600px) {
    .to-solve-panel .panel .panel-wrapper form .x-select {
      margin-left: 0 !important; }
      .to-solve-panel .panel .panel-wrapper form .x-select .select-selected {
        padding: 10px 30px !important; } }

.agent-item-wrapper .title {
  padding: 0 5px 0 0; }
.agent-item-wrapper .data {
  font-size: 13px; }

agent-content {
  width: 100%; }

/********************************************************
 * Dark theme
 */
/********************************************************
 * Clear theme
 */
/********************************************************
 * Purple theme
 */
/********************************************************
 * Priority colors
 */
/* 1.1 Input
--------------------------------------------*/
/* 1.2 Button
--------------------------------------------*/
/* On Hover */
.download-button {
  position: fixed;
  top: 3.33%;
  right: 3.33%;
  height: 44px;
  background-color: #fff;
  color: rgba(17, 17, 17, 0.87);
  border-radius: 44px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  display: flex;
  align-items: center;
  padding: 12px 25px;
  cursor: pointer;
  z-index: 1000;
  max-width: 400px;
  transition: all 0.6s cubic-bezier(0, 0, 0.2, 1); }
  .download-button:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }
  .download-button span {
    font-weight: bold;
    font-size: 13px;
    overflow: hidden;
    transition: 0.3s cubic-bezier(0, 0, 0.2, 1); }
  .download-button i {
    margin-right: 10px;
    font-size: 15px; }
  .download-button.downloading {
    box-shadow: none;
    background-color: transparent;
    transform: translateY(100vh); }

.report-panel {
  overflow-x: hidden;
  padding: 30px 50px 100px 100px !important;
  background: rgba(17, 17, 17, 0.08); }
  @media screen and (max-width: 600px) {
    .report-panel {
      padding: 30px 30px 100px 30px !important; } }
  .report-panel .performance {
    display: flex;
    flex-wrap: wrap; }
  .report-panel .cases-chart {
    width: calc(100% - 350px);
    min-width: 400px;
    margin-left: -50px;
    margin-right: -50px;
    margin-top: -30px; }
    @media screen and (max-width: 600px) {
      .report-panel .cases-chart {
        margin-top: 30px; } }
    .report-panel .cases-chart ul {
      margin-left: 160px;
      margin-top: 20px;
      width: 450px;
      display: flex;
      flex-wrap: wrap; }
      @media screen and (max-width: 600px) {
        .report-panel .cases-chart ul {
          margin-left: 40px;
          margin-bottom: 100px; }
          .report-panel .cases-chart ul li {
            width: 170px; } }
      .report-panel .cases-chart ul li {
        width: 200px;
        margin-bottom: 10px;
        display: flex;
        align-items: center; }
        .report-panel .cases-chart ul li:nth-child(1) .circle {
          background: #3E95CD; }
        .report-panel .cases-chart ul li:nth-child(2) .circle {
          background: #8E5EA2; }
        .report-panel .cases-chart ul li:nth-child(3) .circle {
          background: #3CBA9F; }
        .report-panel .cases-chart ul li:nth-child(4) .circle {
          background: #E8C3B9; }
        .report-panel .cases-chart ul li .circle {
          border-radius: 50%;
          width: 15px;
          height: 15px;
          background: #ccc;
          margin-right: 20px; }
        .report-panel .cases-chart ul li .quantity {
          font-weight: bold;
          margin-right: 10px;
          font-size: 14px; }
        .report-panel .cases-chart ul li .name {
          font-size: 14px;
          letter-spacing: 1px; }
  .report-panel .card-wrapper {
    display: flex;
    flex-direction: column; }
  .report-panel .card {
    width: 300px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    margin: 0px 0px 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .report-panel .card .month {
      font-weight: bold;
      font-size: 30px;
      margin-bottom: 20px; }
    .report-panel .card .wrap {
      justify-content: space-between;
      max-width: 225px;
      width: 100%;
      display: flex;
      align-items: center; }
      .report-panel .card .wrap.attention {
        border-bottom: solid 1px rgba(17, 17, 17, 0.2);
        padding-bottom: 10px; }
      .report-panel .card .wrap.solution {
        padding-top: 10px; }
      .report-panel .card .wrap .description {
        padding-right: 10px;
        font-size: 14px;
        color: rgba(17, 17, 17, 0.65); }
      .report-panel .card .wrap .data {
        text-align: right;
        font-size: 14px;
        font-weight: bold; }

.graph-tabs {
  display: flex;
  width: 100%;
  margin-bottom: 60px; }
  .graph-tabs .tab {
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    opacity: 0.4;
    padding: 15px 30px;
    cursor: pointer;
    transition: 0.3s cubic-bezier(0, 0, 0.2, 1);
    border-bottom: solid 1px transparent; }
    .graph-tabs .tab:hover {
      opacity: 0.6; }
    .graph-tabs .tab.selected {
      opacity: 1;
      color: #7A1326;
      border-bottom: solid 1px #7A1326; }

.chart-container {
  position: relative;
  max-width: 100%; }

.chart-wrapper {
  transition: 0.5s cubic-bezier(0, 0, 0.2, 1);
  position: absolute;
  width: 100%;
  top: 0; }
  .chart-wrapper.visible {
    opacity: 1;
    transform: translateX(0vw); }
  .chart-wrapper.left {
    opacity: 0;
    transform: translateX(-10vw); }
  .chart-wrapper.right {
    opacity: 0;
    transform: translateX(10vw); }

.infrastructure-wrapper {
  display: flex;
  flex-direction: column;
  padding: 10px; }
  .infrastructure-wrapper .infrastructure {
    margin-bottom: 50px; }
  .infrastructure-wrapper .table-wrapper {
    display: flex;
    flex-wrap: wrap; }

.report-panel {
  padding: 50px 80px; }
  @media screen and (max-width: 600px) {
    .report-panel {
      padding: 70px 10px; } }
  .report-panel .x-select {
    margin-left: -20px; }

.chart-item-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 30px 0px 50px 0px;
  width: calc(100% + 200px); }
  .chart-item-wrapper .line-chart-item {
    width: calc(100% - 250px); }
  .chart-item-wrapper .radar-chart-item {
    width: calc(100% - 100px);
    margin: 0 0 0 -100px; }

table {
  margin: 20px 20px 0 0;
  font-size: 11px; }
  table caption {
    text-align: left;
    color: #7A1326;
    font-size: 16px;
    padding: 5px 30px;
    letter-spacing: 1px; }
  table th {
    text-transform: uppercase;
    letter-spacing: 1px; }
  table td, table th {
    padding: 10px 20px;
    border-bottom: solid 1px rgba(17, 17, 17, 0.2); }
  table table {
    border: none;
    margin: 10px 0 0 0;
    box-shadow: none; }
    table table tr {
      border-bottom: none; }
      table table tr:nth-last-child(1) td, table table tr:nth-last-child(1) th {
        border-bottom: solid 1px transparent; }
    table table th, table table caption {
      text-align: left;
      color: rgba(17, 17, 17, 0.87); }

.newdata-add-container .panel-wrapper {
  padding-top: 0 !important;
  height: calc(100% - 150px) !important; }
.newdata-add-container .edit-panel .x-select {
  margin-left: 0px;
  width: 350px; }
  .newdata-add-container .edit-panel .x-select .select-selected {
    background: transparent !important;
    padding: 10px 50px !important; }

.newdata-container
newdata-content, .newdata-content {
  width: calc(100% - 370px) !important;
  height: 100vh !important;
  overflow-y: auto; }

newdata-item-wrapper, .newdata-item-wrapper {
  height: calc(100vh - 200px); }

.subsection-switcher {
  width: 320px; }
  @media screen and (max-width: 600px) {
    .subsection-switcher {
      width: 100%; } }

h5 {
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #7A1326;
  font-weight: bold;
  padding-top: 30px;
  text-align: center;
  width: 100%;
  margin: 0; }

.search-box {
  margin-top: 20px; }

.tabs {
  width: 320px;
  margin: 0;
  height: 100px;
  display: flex;
  position: relative;
  justify-content: flex-start;
  transition: 0.3s cubic-bezier(0, 0, 0.2, 1);
  overflow: hidden; }
  @media screen and (max-width: 600px) {
    .tabs {
      width: 100%; } }
  .tabs:after {
    z-index: 0;
    content: "";
    position: absolute;
    width: 33.33%;
    height: calc(100px - 4px);
    transition: 0.3s cubic-bezier(0, 0, 0.2, 1);
    border-bottom: solid 2px #7A1326; }
  .tabs[tab-selected="0"]:after {
    left: 0px; }
  .tabs[tab-selected="1"]:after {
    left: 33.33%; }
  .tabs[tab-selected="2"]:after {
    left: 66.66%; }
  .tabs .tab {
    width: 33.33%;
    padding: 0 20px 0 20px;
    height: 100%;
    cursor: pointer;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    color: rgba(17, 17, 17, 0.4);
    transition: 0.3s cubic-bezier(0, 0, 0.2, 1);
    position: relative;
    z-index: 2; }
    .tabs .tab:hover {
      color: rgba(17, 17, 17, 0.7); }
    .tabs .tab i {
      font-size: 20px;
      margin-bottom: 10px;
      position: relative; }
    .tabs .tab span {
      font-size: 9px;
      text-transform: uppercase;
      letter-spacing: 1px;
      position: relative;
      text-align: center; }
    .tabs .tab.selected {
      color: #7A1326;
      font-weight: bold; }

@keyframes rotating {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
.item-wrapper {
  overflow-y: scroll;
  overflow-x: hidden;
  padding-bottom: 100px;
  margin-top: 5px;
  transition: all 0.3s; }
  .item-wrapper .refresh-btn {
    cursor: pointer;
    width: 320px;
    display: flex;
    justify-content: center;
    align-content: center;
    position: relative; }
    @media screen and (max-width: 600px) {
      .item-wrapper .refresh-btn {
        width: 100%; } }
    .item-wrapper .refresh-btn .loading {
      animation: rotating 1s infinite; }
    .item-wrapper .refresh-btn i {
      color: rgba(17, 17, 17, 0.3);
      text-align: center;
      transition: 0.3s cubic-bezier(0, 0, 0.2, 1); }
    .item-wrapper .refresh-btn.big i {
      font-size: 100px;
      width: 200px;
      height: 200px;
      line-height: 200px; }
    .item-wrapper .refresh-btn.small i {
      font-size: 25px;
      width: 40px;
      height: 40px;
      line-height: 40px; }
    .item-wrapper .refresh-btn:hover i {
      color: #7A1326; }
  .item-wrapper case-item .item, .item-wrapper newdata-item .item {
    transition: 0.3s cubic-bezier(0, 0, 0.2, 1);
    overflow: hidden; }
  .item-wrapper case-item.hidden .item, .item-wrapper newdata-item.hidden .item {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    max-height: 0;
    margin: 0px 0px 0px 10px !important;
    height: 0;
    opacity: 0; }
  .item-wrapper case-item.visible .item, .item-wrapper newdata-item.visible .item {
    max-height: 500px;
    opacity: 1; }
  .item-wrapper .item {
    display: flex;
    font-size: 13px;
    justify-content: space-between;
    margin: 5px 0px 5px 10px;
    padding: 15px 30px 15px 50px;
    transition: background 0.25s, padding 0.5s 0.3s;
    position: relative;
    overflow: hidden;
    background: rgba(17, 17, 17, 0.08);
    cursor: pointer;
    border-radius: 2px; }
    .item-wrapper .item:hover {
      background: rgba(17, 17, 17, 0.1); }
    .item-wrapper .item .left, .item-wrapper .item .right {
      flex-direction: column; }
    .item-wrapper .item .left {
      z-index: 1;
      display: flex;
      color: rgba(17, 17, 17, 0.87);
      font-size: 13px; }
      .item-wrapper .item .left .title {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 170px;
        padding: 0;
        margin: 0;
        font-weight: bold;
        padding-right: 10px; }
      .item-wrapper .item .left .data {
        opacity: 0.6; }
    .item-wrapper .item .right {
      text-align: right;
      display: flex;
      flex-direction: column;
      align-items: flex-end; }
      .item-wrapper .item .right .status {
        margin-right: -5px;
        border-radius: 2px;
        color: rgba(17, 17, 17, 0.7);
        font-size: 9px;
        letter-spacing: 1px;
        padding: 1px 5px;
        z-index: 1;
        border: solid 1px rgba(17, 17, 17, 0.3); }
      .item-wrapper .item .right .datetime, .item-wrapper .item .right .id {
        z-index: 1;
        color: rgba(17, 17, 17, 0.87);
        font-size: 11.5px;
        opacity: 0.6; }
    .item-wrapper .item:before {
      content: "";
      display: block;
      position: absolute;
      height: calc(100% - 20px);
      width: 3px;
      border-radius: 3px;
      transition: height 0.25s 0.25s, top 0.25s 0.25s, border-radius 0s 0.25s, transform 0.25s;
      background: rgba(17, 17, 17, 0.15);
      top: 10px;
      left: 10px;
      z-index: 0; }
    .item-wrapper .item.selected:before {
      border-radius: 50%;
      transform: scale(200);
      height: 3px;
      top: 50%;
      transition: height 0.25s, top 0.25s, border-radius 0s 0.25s, transform 0.25s 0.25s; }
    .item-wrapper .item.selected .title {
      max-width: 180px; }

.add-container {
  z-index: 9000;
  position: fixed;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  transition: 0s; }
  @media screen and (max-width: 910px) {
    .add-container {
      align-content: flex-end;
      align-items: flex-end; } }
  .add-container .row {
    flex-wrap: wrap;
    height: 100%;
    overflow-y: visible !important; }
  .add-container.closed {
    transition: 0s 0.45s;
    height: 0;
    bottom: -100px;
    overflow: hidden; }
  .add-container .back {
    position: absolute;
    background-color: rgba(51, 51, 51, 0.8);
    opacity: 0;
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    transition: opacity 0.45s cubic-bezier(0, 0, 0.2, 1), height 0s linear 0.45s, width 0s linear 0.45s; }
  .add-container .panel {
    opacity: 0;
    transform: scale(0.3) translateY(100vh);
    border-radius: 5px 5px 0 0;
    z-index: 2;
    background: #fff;
    padding: 0 15px 0 15px;
    width: 900px;
    height: calc(100% - 40px);
    position: relative;
    transition: 0.45s cubic-bezier(0, 0, 0.2, 1);
    border: solid 1px rgba(17, 17, 17, 0.2);
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
    overflow-y: auto; }
    @media screen and (max-width: 910px) {
      .add-container .panel {
        border-radius: 5px 5px 0 0; } }
    .add-container .panel .panel-wrapper {
      padding-top: 50px;
      padding-bottom: 100px; }
      @media screen and (max-width: 800px) {
        .add-container .panel .panel-wrapper {
          padding-top: 80px; } }
  .add-container .button {
    will-change: background-color transform box-shadow;
    position: fixed;
    z-index: 1003;
    width: 60px;
    height: 60px;
    transition: transform 0.6s cubic-bezier(0, 0, 0.2, 1), background 0.6s cubic-bezier(0, 0, 0.2, 1);
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
    border-radius: 50%;
    background: #7A1326;
    color: white;
    left: 0;
    bottom: 0;
    transform: translate(515px, -50px); }
    @media screen and (max-width: 1050px) {
      .add-container .button {
        transform: translate(270px, -30px); } }
    @media screen and (max-width: 600px) {
      .add-container .button {
        transform: translateX(100vw) translateX(-85px) translateY(-30px); } }
    .add-container .button i.close {
      text-align: center;
      width: 58px;
      height: 58px;
      line-height: 58px;
      cursor: pointer;
      transform: rotate(0deg);
      transition: transform 0.4s cubic-bezier(0, 0, 0.2, 1); }
  .add-container.opened .button {
    background: #fff;
    border-top: none;
    color: rgba(17, 17, 17, 0.87);
    box-shadow: none;
    transform: translateY(-100vh) translateY(110px) translateX(50vw) translateX(380px); }
    @media screen and (max-width: 910px) {
      .add-container.opened .button {
        transform: translateY(-100vh) translateY(110px) translateX(100vw) translateX(-70px); } }
  .add-container.opened .back {
    opacity: 1;
    width: 100%;
    height: 100%;
    transition: opacity 0.45s cubic-bezier(0, 0, 0.2, 1), height 0s cubic-bezier(0, 0, 0.2, 1), width 0s cubic-bezier(0, 0, 0.2, 1); }
  .add-container.opened .panel {
    opacity: 1;
    transform: scale(1) translateY(0);
    transition: 0.45s cubic-bezier(0, 0, 0.2, 1); }
    .add-container.opened .panel .edit-panel {
      padding-bottom: 0; }
  .add-container.opened i.close {
    transform: rotate(-45deg); }

.add-container .panel .panel-wrapper {
  position: relative;
  height: 100%;
  overflow-y: auto; }
  .add-container .panel .panel-wrapper .select-selected {
    padding-left: 20px; }
  .add-container .panel .panel-wrapper .input-group input {
    padding: 10px 45px 13px 20px; }
  .add-container .panel .panel-wrapper .input-group label {
    padding-left: 20px; }
  .add-container .panel .panel-wrapper form .x-select {
    width: 250px;
    margin: 10px 19px 10px 10px; }
  .add-container .panel .panel-wrapper form input {
    width: 250px;
    min-width: 250px; }
  .add-container .panel .panel-wrapper form .head-data {
    width: 100%; }
    .add-container .panel .panel-wrapper form .head-data input, .add-container .panel .panel-wrapper form .head-data textarea {
      width: 100%;
      min-width: 100%; }
    .add-container .panel .panel-wrapper form .head-data label {
      padding-left: 0;
      top: 0;
      position: relative; }
  .add-container .panel .panel-wrapper > .head-data input {
    padding: 10px 0 10px 10px !important; }
  .add-container .panel .panel-wrapper > .head-data label {
    padding-left: 0 !important; }
.add-container .panel .head-data {
  padding: 10px 30px 0 15px; }
  .add-container .panel .head-data .input-group {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: flex-start;
    align-content: flex-start; }
  .add-container .panel .head-data input {
    display: block;
    background: transparent;
    color: rgba(17, 17, 17, 0.87);
    font-family: "Walfork";
    outline: none;
    padding: 10px 0 10px 10px !important;
    font-size: 60px;
    border: none;
    min-width: 100%;
    font-weight: 600;
    min-height: 30px; }
.add-container .panel form {
  display: flex;
  flex-wrap: wrap;
  position: relative; }
.add-container .panel button {
  z-index: 5;
  position: absolute;
  bottom: 20px;
  right: 20px; }
  @media screen and (max-width: 910px) {
    .add-container .panel button {
      width: 100%;
      bottom: 0;
      left: 0;
      border-radius: 0; } }

.settings-container {
  padding: 50px 100px !important;
  background: #7A1326; }

.section-container {
  overflow-x: hidden !important; }

.back-dash {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  background: white;
  opacity: 1;
  z-index: 10001;
  transition: all 1s cubic-bezier(0, 0, 0.2, 1); }
  .back-dash.closed {
    opacity: 0 !important;
    height: 0; }
    .back-dash.closed .lds-ring {
      display: none;
      animation-play-state: paused; }

.container .row {
  display: flex; }
.container .column {
  min-height: 100vh; }
  .container .column.dash-nav, .container .columndash-nav {
    width: 220px;
    overflow-x: hidden;
    background: #7A1326;
    transition: 0.3s cubic-bezier(0, 0, 0.2, 1); }
    @media screen and (max-width: 1050px) {
      .container .column.dash-nav, .container .columndash-nav {
        position: fixed;
        z-index: 9000;
        box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22); } }
  .container .column.dash-content, .container .columndash-content {
    overflow-x: none;
    width: calc(100% - 220px) !important;
    transition: 0.3s cubic-bezier(0, 0, 0.2, 1);
    position: relative; }
    @media screen and (max-width: 1050px) {
      .container .column.dash-content, .container .columndash-content {
        width: 100vw !important; } }
  .container .column.section-nav {
    width: 370px;
    padding-left: 20px;
    overflow-x: hidden;
    background: #fff;
    transition: 0.3s cubic-bezier(0, 0, 0.2, 1); }
    @media screen and (max-width: 600px) {
      .container .column.section-nav {
        width: 100vw !important;
        padding-left: 5px; } }
  .container .column.section-content {
    width: 100%;
    overflow-x: hidden !important;
    padding: 100px 100px 60px 100px;
    position: relative;
    transition: 0.3s cubic-bezier(0, 0, 0.2, 1); }
    @media screen and (max-width: 1050px) {
      .container .column.section-content {
        padding: 100px 80px 60px 80px; } }
    @media screen and (max-width: 600px) {
      .container .column.section-content {
        width: 100vw !important; } }

.status-group {
  width: 320px;
  margin: 0;
  padding: 0;
  position: relative; }
  @media screen and (max-width: 600px) {
    .status-group {
      width: calc(100% - 10px); } }

.status-group-name {
  background-color: #fff;
  top: 0px;
  z-index: 11;
  font-weight: bold;
  padding: 10px 20px 10px 10px;
  color: rgba(17, 17, 17, 0.8);
  font-size: 15px;
  letter-spacing: 0.3px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  position: -webkit-sticky;
  position: sticky;
  margin-top: 20px; }
  .status-group-name span.quantity {
    color: #7a1326;
    font-size: 14px;
    margin-right: 15px; }
  .status-group-name i {
    float: right;
    margin-right: 15px;
    color: #7A1326;
    transition: 0.3s cubic-bezier(0, 0, 0.2, 1); }
    .status-group-name i.hidden {
      transform: rotate(180deg); }

.container .section-content {
  position: relative;
  transition: 0.3s;
  width: 100%; }
  .container .section-content.is-closed {
    transition: 0.3s;
    background: #e6e6e6;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center; }
    .container .section-content.is-closed h1 {
      font-weight: bold;
      text-align: center;
      color: rgba(17, 17, 17, 0.15);
      max-width: 500px; }
  .container .section-content .section-content-wrapper {
    color: rgba(17, 17, 17, 0.87);
    min-width: 100% !important;
    display: flex;
    flex-direction: column; }
    .container .section-content .section-content-wrapper .pre-data {
      color: rgba(17, 17, 17, 0.4);
      padding: 10px 50px 10px 0;
      display: block;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: 12px;
      font-weight: bold; }
    .container .section-content .section-content-wrapper h1 {
      font-weight: bold;
      margin-bottom: 40px; }
    .container .section-content .section-content-wrapper pre {
      white-space: pre-wrap;
      overflow: hidden;
      font-style: italic; }
    .container .section-content .section-content-wrapper .user-name span, .container .section-content .section-content-wrapper .author span {
      font-size: 25px;
      color: rgba(17, 17, 17, 0.5);
      letter-spacing: 1px;
      font-weight: bold; }
    .container .section-content .section-content-wrapper .user-name b, .container .section-content .section-content-wrapper .author b {
      font-size: 15px;
      color: rgba(17, 17, 17, 0.25); }
    .container .section-content .section-content-wrapper .item-list {
      display: flex;
      flex-direction: column; }
      .container .section-content .section-content-wrapper .item-list .item {
        display: flex;
        align-content: center;
        align-items: center;
        padding: 5px 40px 0px 0; }
        .container .section-content .section-content-wrapper .item-list .item .data-wrapper {
          color: rgba(17, 17, 17, 0.87); }
          .container .section-content .section-content-wrapper .item-list .item .data-wrapper .field {
            text-transform: uppercase;
            letter-spacing: 1px;
            font-size: 12px;
            line-height: 14px;
            font-weight: bold;
            color: rgba(17, 17, 17, 0.87);
            margin-bottom: 5px; }
          .container .section-content .section-content-wrapper .item-list .item .data-wrapper .data {
            color: rgba(17, 17, 17, 0.4);
            font-size: 13px;
            line-height: 15px;
            font-weight: bold;
            display: inline-block; }
        .container .section-content .section-content-wrapper .item-list .item i {
          margin-right: 30px;
          color: #7A1326; }

.lds-ring {
  display: inline-block;
  position: fixed;
  z-index: 10002;
  top: calc(50% - 32px);
  left: calc(50% - 32px);
  width: 64px;
  height: 64px;
  transform: scale(1.3); }

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 2px;
  border: 2px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #7A1326 transparent transparent transparent; }

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s; }

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s; }

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s; }

@keyframes lds-ring {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

/*# sourceMappingURL=dashboard.css.map */
