<div class="xpopup {{$ctrl.xPopup.isHidden() ? 'hidden':''}}">
    <div class="xpopup-back" ng-click="$ctrl.xPopup.hide()"></div>
    <div class="xpopup-body">  
        <div class="close-btn" ng-click="$ctrl.xPopup.hide()">
            <i class="material-icons">close</i>
        </div>
        <div class="xpopup-message">
            <div class="pre-id">{{$ctrl.xPopup.getId() != undefined ? 'FOLIO':''}}</div>
            <div class="id">{{$ctrl.xPopup.getId() | minDigits: 4}}</div>            
            <div class="title">{{$ctrl.xPopup.getTitle()}}</div>
            <!-- <hr ng-if="$ctrl.xPopup.getDescription() != '' && $ctrl.xPopup.getDescription() != undefined"> -->
            <div class="description" ng-bind-html="$ctrl.xPopup.getDescription()"></div>
        </div>
        <div class="xpopup-controlls yes_no" ng-if="$ctrl.xPopup.getYESNO()">
            <button ng-click="$ctrl.yes()">SI</button>
            <button class="main" ng-click="$ctrl.xPopup.hide()">NO</button>
        </div>
    </div>
</div>