<div class="agent-content column section-content {{($ctrl.AgentContent.data != undefined)?'is-opened':'is-closed'}}">
    
    <!-- Show when data is selected -->
    <div class="opened section-content-wrapper edit-panel" ng-show="$ctrl.AgentContent.data!=undefined">          
    
        <!-- Edit button --> 
        <div class="toolbar-wrapper {{($ctrl.AgentContent.data != undefined)?'is-opened':'is-closed'">
            <div class="back-btn" ng-click="$ctrl.AgentContent.data = undefined">        
                <i class="material-icons">arrow_back</i> 
            </div>

            <button ng-if="!$ctrl.AgentContent.isEditModeOn()" class="toolbar-button" ng-click="$ctrl.edit()">
                <i class="material-icons">edit</i>
                <span>Editar</span>
            </button>
 
            <button ng-if="$ctrl.AgentContent.isEditModeOn()" class="toolbar-button" ng-click="$ctrl.edit()">
                <i class="material-icons">save</i>
                <span>Guardar</span>
            </button>

            <button ng-if="$ctrl.AgentContent.isEditModeOn()" class="toolbar-button" ng-click="$ctrl.revertEdit()">
                <i class="material-icons">close</i>
                <span>Cancelar</span>
            </button> 
        </div> 
 
        <!-- Pre-data -->
        <div class="pre-data">
            <b>Estatus: </b><span>{{$ctrl.AgentContent.data.status}}</span>
        </div>


        <!-- Title --> 
        <xinput type="text" 
            class="extra-big"
            disabled="!$ctrl.AgentContent.isEditModeOn()"
            label="Usuario" 
            ng-model="$ctrl.AgentContent.data.usr">
        </xinput> 
           
        <!-- Username -->
        <div class="user-name">
            {{$ctrl.AgentContent.data.name}} 
            {{$ctrl.AgentContent.data.firstLastname}} 
            {{$ctrl.AgentContent.data.secondLastname}}
        </div>

        <div class="metadata">   
            <!-- Bullets -->
            <div class="item-list"> 

                <!-- Access Level --> 
                <div class="item level">                    
                    <i class="material-icons">face</i>
                    <xselect
                        options="$ctrl.options.level" 
                        disabled="!$ctrl.AgentContent.isEditModeOn()"
                        label="Nivel de acceso:" 
                        item-selected="{{$ctrl.AgentContent.data.id_level.id}}"
                        ng-model="$ctrl.AgentContent.data.id_level"> 
                    </xselect>
                </div>

                <!-- Email -->
                <div class="item email">                    
                    <i class="material-icons">email</i>
                    <xinput 
                        type="email"
                        class="like-select"
                        disabled="!$ctrl.AgentContent.isEditModeOn()"
                        label="Email:"  
                        ng-model="$ctrl.AgentContent.data.email"> 
                    </xinput>
                </div>

                <!-- Phone -->
                <div class="item email">                    
                    <i class="material-icons">phone</i>
                    <xinput 
                        type="phoneNumber"
                        class="like-select"
                        disabled="!$ctrl.AgentContent.isEditModeOn()"
                        label="Teléfono:"  
                        ng-model="$ctrl.AgentContent.data.phone"> 
                    </xinput>
                </div>

                <!-- Mobile Phone -->
                <div class="item email">                    
                        <i class="material-icons">phone_iphone</i>
                        <xinput 
                            type="phoneNumber"
                            class="like-select"
                            disabled="!$ctrl.AgentContent.isEditModeOn()"
                            label="Teléfono móvil:"  
                            ng-model="$ctrl.AgentContent.data.mobilephone"> 
                        </xinput>
                    </div>

                <!-- Address -->
                <div class="item email">                    
                    <i class="material-icons">home</i>
                    <xinput 
                        class="like-select"
                        disabled="!$ctrl.AgentContent.isEditModeOn()"
                        label="Dirección:"  
                        ng-model="$ctrl.AgentContent.data.address"> 
                    </xinput>
                </div> 
            </div>
            
        </div> 
    </div>
    
    <div class="closed" ng-show="$ctrl.AgentContent.data==undefined"> 
        <h1>Da clic sobre algún agente</h1> 
    </div>
</div>