<!-- 05. Configuration ================================================== -->
<div class="settings-container container"> 
        <!-- <h4>Apariencia</h3> -->
        <!-- <xselect label="Tema:" 
            options='$ctrl.options.theme' 
            ng-model="$ctrl.Session.session.theme"></xselect>   
        <br><br> -->
        <!-- <h4>Mis casos</h3>
        <div class="checkbox-group">
            <input id="no-solved" type="checkbox" ng-model="$ctrl.CaseItemList.showSolvedCases"/> 
            <label for="no-solved">
                Mostrar casos solucionados
            </label>
        </div> --> 
        <button class="logout-btn" ng-click="$ctrl.logout()">Cerrar sesión</button> 
        <img src="assets/img/ipn.png" alt="">
        <h1>Términos y condiciones</h1>
        <pre>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus velit odio, efficitur sed tellus a, ultricies iaculis diam. Ut posuere quam eget molestie porta. Nullam ut leo elementum, scelerisque sem id, ullamcorper justo. Sed purus turpis, sodales quis magna a, scelerisque rhoncus nibh. Cras massa sem, sagittis eu pretium ut, facilisis in elit. Donec posuere faucibus ipsum et elementum. Sed suscipit aliquet nibh, quis pretium nulla dapibus vel. Donec at orci a dolor volutpat luctus. Aliquam pulvinar quis mauris non ultricies. Vivamus eleifend mauris sem, tempor dignissim risus vestibulum nec. Ut commodo vulputate augue eu iaculis. Nunc finibus nulla eget odio rutrum blandit. Sed hendrerit tortor nec consequat congue. Suspendisse pharetra a augue non posuere. Nullam interdum cursus tristique. Phasellus sed laoreet ipsum.

Aliquam luctus eros et turpis laoreet, nec sollicitudin tortor egestas. Quisque posuere nulla eu magna porttitor tristique at non nisi. Sed sit amet sapien tortor. Phasellus sed augue vel mi eleifend suscipit. Aliquam eleifend lectus non urna suscipit, eget suscipit nisl euismod. Mauris tempus sodales semper. Mauris sed iaculis ipsum, vitae maximus tortor.

Aenean arcu nisi, elementum sagittis lacus at, varius fermentum massa. Maecenas fringilla nisl eget justo lobortis, a vestibulum dui dignissim. Phasellus semper vehicula nulla eu rutrum. Sed augue nibh, euismod vel diam in, posuere sagittis libero. Nunc tincidunt mollis magna sed consequat. Nullam hendrerit sagittis fringilla. Nullam facilisis ultricies ante vel auctor. Duis ut dignissim enim, eget laoreet elit. Maecenas sit amet velit mollis, egestas justo sit amet, scelerisque sapien. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. In non libero pharetra, feugiat arcu id, scelerisque odio.

Integer molestie nec nibh sit amet egestas. Cras eleifend velit nec arcu commodo vehicula. Quisque vitae aliquam ante. Suspendisse cursus rhoncus purus, vitae varius nibh sagittis at. Sed id arcu sit amet justo rhoncus venenatis. Phasellus consectetur felis non arcu commodo fringilla. Suspendisse potenti. Aliquam tempor accumsan rhoncus. Curabitur vel augue sit amet nunc dignissim pharetra. Phasellus eros risus, lacinia mollis egestas eget, facilisis at elit. Morbi in auctor mi. Ut mollis nisl non ullamcorper rhoncus. Donec pretium libero sit amet massa volutpat, ac semper sem porta. Vivamus volutpat vestibulum tristique.

Sed neque urna, cursus sit amet volutpat ac, molestie quis elit. Maecenas volutpat pulvinar neque eget molestie. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nullam ut euismod nunc, at pharetra risus. Aliquam et risus bibendum erat eleifend auctor. Sed posuere urna ac sollicitudin tincidunt. Maecenas convallis magna nunc, id vehicula lorem tempor id. Sed sed efficitur elit. Vestibulum at ipsum nec nulla ultrices tincidunt. Mauris eleifend convallis ultrices. Vestibulum orci magna, tempor et dictum non, hendrerit iaculis arcu. Nullam orci massa, suscipit dignissim scelerisque sit amet, egestas nec felis. Integer sodales quam enim. Donec vel ultrices nulla.
        </pre>
</div>