<div class="newdata-item-list section-nav column">
    <!-- <xsearch ng-model="$ctrl.search"></xsearch>   -->
     
    <div class="subsection-switcher">        
        <xsearch ng-model="$ctrl.search"></xsearch>  
        <h5>{{$ctrl.NewdataItemList.getTabs()[$ctrl.NewdataItemList.getCurrentTab()].name}}</h5>       
        <div class="tabs" tab-selected="{{$ctrl.NewdataItemList.getCurrentTab()}}"  ng-hide="$ctrl.DashNav.getLevel() != 1">
            <div ng-click="$ctrl.setCurrentTab($index)" ng-show="n.tablevel >= $ctrl.DashNav.getLevel()"
                class="tab {{($ctrl.NewdataItemList.getCurrentTab()==$index)?'selected':''}}" 
                ng-repeat="n in $ctrl.NewdataItemList.getTabs()">
                <i class="material-icons">{{n.icon}}</i><span>{{n.name}}</span> 
            </div>   
        </div>
       
    </div>  
   
    <div class="newdata-item-wrapper item-wrapper">  
        <div class="refresh-btn tooltiped 
            {{($ctrl.NewdataItemList.data.length == 0)?'big':'small'}}"
            ng-click="$ctrl.loadData()"
            data-tooltip="Recargar"
            data-position="bottom">
            <i class="material-icons {{($ctrl.isLoading)?'loading':''}}">
                refresh</i>
        </div> 
        <div class="status-group">
            <newdata-item
                ng-repeat="x in $ctrl.NewdataItemList.data[$ctrl.NewdataItemList.getTabs()[$ctrl.NewdataItemList.getCurrentTab()].table] | filter:$ctrl.search"
                data="x"
                current="$ctrl.current">
            </newdata-item>
        </div> 
    </div>
</div>
