<div class="case-item item {{($ctrl.data.id == $ctrl.current.id) ? 'selected' : ''}} {{($ctrl.data.id_status.id==1 || $ctrl.data.id_status.id==2)?$ctrl.priorityClass:''}}" 
     ng-click="$ctrl.caseItemClick($ctrl.data)"> 
    <div class="left">
        <div class="title">{{$ctrl.data.subject}}</div>
        <div class="data" ng-if="$ctrl.Session.getLevel() == 4">
            {{$ctrl.data.author.name}} 
            {{$ctrl.data.author.firstLastname}} 
            {{$ctrl.data.author.secondLastname}} 
        </div>
        <div class="data" ng-if="$ctrl.Session.getLevel() != 4">
            {{$ctrl.data.id_client.name}} 
            {{$ctrl.data.id_client.firstLastname}} 
            {{$ctrl.data.id_client.secondLastname}} 
        </div>
    </div>
    <div class="right">
        <div class="datetime" am-time-ago="$ctrl.data.registerDate | amParse:'YYYY-MM-DD HH:mm:ss'"></div>  
        <!-- <div class="status status-{{$ctrl.data.id_status.id}}">{{$ctrl.data.id_status.value}}</div>   -->
    </div>    
</div>