<div class="newdata-add-container add-container" ng-class="($ctrl.NewdataAdd.isClosed())?'closed':'opened'"> 
    <div class="back" ng-click="$ctrl.NewdataAdd.shuffle()"></div>
    <div class="button tooltiped" 
        data-tooltip="{{$ctrl.NewdataAdd.isClosed()?'Registrar datos':'Cerrar'}}"
        data-position="{{$ctrl.NewdataAdd.isClosed()?'top':'bottom'}}">
        <i class="close material-icons" ng-click="$ctrl.NewdataAdd.shuffle()">add</i>
    </div> 
    <div class="panel">
        <div class="saving-animation {{$ctrl.isSaving?'visible':'hidden'}}"> 
            <div class="lds-ring"><div></div><div></div></div>
        </div>
        <button 
            ng-disabled="$ctrl.NewdataAdd.areFieldsMissing() 
                || $ctrl.isSaving
                || ($ctrl.NewdataAdd.what.id == 1 && !$ctrl.NewdataAdd.allFieldsAreTrue($ctrl.valid))"
            ng-click="$ctrl.saveNewdata()">
            Registrar
        </button>      
        <div class="edit-panel">
            <xselect disabled="($ctrl.DashNav.getLevel() == 1)?false:true" item-selected="{{($ctrl.DashNav.getLevel() == 1)?undefined:1}}" label="Registrar nuevo:" options='$ctrl.NewdataItemList.getTabs()' ng-model="$ctrl.NewdataAdd.what"></xselect>             
            <hr>
        </div> 
        <div class="panel-wrapper"> 
            <form>   
                <div class="row" ng-if="$ctrl.NewdataAdd.what.id == 1"> 
                    <div class="head-data">
                        <xinput uppercase="true" max-length="18" database-valid-model="$ctrl.databaseValid.curp" valid-model="$ctrl.valid.curp" type="curp" placeholder="CURP del cliente" label="CURP:" ng-model="$ctrl.NewdataAdd.data.curp"></xinput> 
                    </div>  
                    <div class="row">
                        <xselect label="Puesto:" options='$ctrl.options.job' ng-model="$ctrl.NewdataAdd.data.job"></xselect> 
                        <xselect label="Área:" options='$ctrl.options.area' ng-model="$ctrl.NewdataAdd.data.area"></xselect> 
                        
                        <xselect label="Departamento:" options='$ctrl.options.department' ng-model="$ctrl.NewdataAdd.data.department"></xselect> 
                        <xselect label="Unidad de negocio:" options='$ctrl.options.businessUnit' ng-model="$ctrl.NewdataAdd.data.businessUnit"></xselect> 
                        
                        <xinput max-length="30" placeholder="Ingresa un nombre" label="Nombre(s):" ng-model="$ctrl.NewdataAdd.data.name"></xinput>   
                        <xinput max-length="30" placeholder="Ingresa un apellido" label="Primer apellido:" ng-model="$ctrl.NewdataAdd.data.firstLastname"></xinput>   
                        
                        <xinput max-length="30" placeholder="Ingresa un apellido" label="Segundo apellido:" ng-model="$ctrl.NewdataAdd.data.secondLastname"></xinput>   
                        <xinput max-length="60" valid-model="$ctrl.valid.email" type="email" placeholder="Ingresa un email" label="Email:" ng-model="$ctrl.NewdataAdd.data.email"></xinput>   
                        
                        <xinput max-length="10" valid-model="$ctrl.valid.phone" type="phoneNumber" placeholder="Ingresa un telefono" label="Teléfono Fijo:" ng-model="$ctrl.NewdataAdd.data.phone"></xinput>    
                        <xinput max-length="10" valid-model="$ctrl.valid.mobilePhone" type="phoneNumber" placeholder="Ingresa un telefono" label="Teléfono Móvil:" ng-model="$ctrl.NewdataAdd.data.mobilephone"></xinput>   
                    
                    </div> 
                </div> 
                <div class="row" ng-if="$ctrl.NewdataAdd.what.id == 2"> 
                    <div class="head-data">
                        <xinput max-length="100" placeholder="Medio de registro" label="Nombre del medio:" ng-model="$ctrl.NewdataAdd.data.name"></xinput>  
                    </div> 
                </div>  
                <div class="row" ng-if="$ctrl.NewdataAdd.what.id == 3"> 
                    <div class="head-data">
                        <xinput max-length="50" placeholder="Agente de amenaza" label="Nombre del agente:" ng-model="$ctrl.NewdataAdd.data.name"></xinput>  
                    </div>
                    <div class="head-data">
                        <xtextarea max-length="100" placeholder="Ingresa una descripción" label="Descripción:" ng-model="$ctrl.NewdataAdd.data.description"></xtextarea>  
                    </div>
                    <div class="col">
                        <xselect label="Tipo de amenaza:" options='$ctrl.options.threatType' ng-model="$ctrl.NewdataAdd.data.threatType"></xselect> 
                    </div>                    
                </div>                   
            </form> 
        </div>   
    </div>
</div>